<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:60%;">
        <mat-tab-group (selectedTabChange)="addPlaceHolders()">
          <mat-tab label="Overview">
            <p>
              You can fine-tune the behavior of the PDF viewer by modifying the default options. The full list of
              the options is available
              <a target="#" href="https://github.com/stephanrauh/ngx-extended-pdf-viewer/blob/master/projects/ngx-extended-pdf-viewer/src/lib/options/pdf-default-options.ts">here</a>.
              Most options are very advanced or covered by regular attributes of <code>&lt;ngx-extended-pdf-viewer /&gt;</code>,
              so use the options at your own risk.
            </p>
            <p>
              This page uses the <code>assetsFolder</code> attribute to use the "bleeding edge" version of pdf.js instead of the regular
              release of pdf.js. However, to see the effect you need a full reload of the page (i.e. you need to hit the F5 key). After that, the version number of pdf.js changes.
              You can see that in the blue bar of this page and in the console window of the developer tools.
            </p>
            <app-ie11-markdown src="/assets/extended-pdf-viewer/default-options/options.md"></app-ie11-markdown>
          </mat-tab>
          <mat-tab label="Available options">
            <angular2-smart-table [settings]="tableSettings" [source]="availableOptions"></angular2-smart-table>
                </mat-tab>
                <mat-tab label="Options covered by attributes">
                  <angular2-smart-table [settings]="tableSettings" [source]="coveredOptions"></angular2-smart-table>

              </mat-tab>
              </mat-tab-group>
            </mat-card>
            <mat-card appearance="outlined" class="distance16 mat-elevation-z8 use-available-height" style="flex: 1 1 100%; box-sizing: border-box; max-width:38%">
              <mat-tab-group>
                <mat-tab label="HTML template">
                  <app-ie11-markdown src="/assets/extended-pdf-viewer/default-options/html.md"> </app-ie11-markdown>
                </mat-tab>
                <mat-tab label="TypeScript">
                  <app-ie11-markdown src="/assets/extended-pdf-viewer/default-options/ts.md"> </app-ie11-markdown>
                </mat-tab>
              </mat-tab-group>
            </mat-card>
          </div>
        }

  <app-demo [src]="'/assets/pdfs/themes_de_la_Science-fiction.pdf'">
    <ngx-extended-pdf-viewer
      [src]="'/assets/pdfs/themes_de_la_Science-fiction.pdf'"
      >
    </ngx-extended-pdf-viewer>
  </app-demo>
      </div>
