<mat-card class="distance-16 mat-elevation-z8">
  <h1>Range requests</h1>
  <p>
    Sometimes PDF files are large, even huge. By default, the PDF loader doesn't load the entire PDF file. Instead, it loads it in chunks.
    So it can display the first page while it's still loading the other pages.
  </p>
  <p>
    Most of the time, you don't have to configure this feature (unless you want to switch it off). It just works. If it doesn't, check if
    your server supports range requests. If it does, the response headers have the attribute <code>accept-ranges: bytes</code>.
  </p>
</mat-card>
