<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
  <mat-card class="distance16 mat-elevation-z8" fxFlex="40%">
    <mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="selectedTab=$event">
      <mat-tab label="Default link targets">
        <p>Chose a link target:</p>
        <mat-radio-group aria-label="Toolbar zoom factor"
                         (change)="target=$event.value"
                         [value]="target">
          <mat-radio-button [value]="LinkTarget.BLANK">[target]="LinkTarget.BLANK" (opens a new window)</mat-radio-button>
          <br />
          <mat-radio-button [value]="LinkTarget.SELF">[target]="LinkTarget.SELF" (same window)</mat-radio-button>
          <br />
          <mat-radio-button [value]="LinkTarget.PARENT">[target]="LinkTarget.PARENT" (same window)</mat-radio-button>
          <br />
          <mat-radio-button [value]="LinkTarget.TOP">[target]="LinkTarget.TOP" (same window)</mat-radio-button>
          <br />
          <mat-radio-button [value]="LinkTarget.NONE">[target]="LinkTarget.NONE" (identical to TOP)</mat-radio-button>
        </mat-radio-group>
        <p>The link target is only considered at render time. So this demo forces a reload when you chose
          a different option.
        </p>
     </mat-tab>
    <mat-tab label="Description">
      <p>
        There are several kinds of links:
      </p>
      <ul>
        <li>Internal links within the PDF files.</li>
        <li>External links on web server (usually with an https URL).</li>
        <li>Links to file on the local PC or the local network. The PDF viewer doesn't support such links.</li>
      </ul>
      <p>By default, external links are opened in the same window. In other words, clicking the link
        amounts to leaving the Angular application. To prevent this, you have two options:
      </p>
      <ul>
        <li>Add the target when you're creating the PDF file. That's generally the best solution.</li>
        <li>
          Use the <code>defaultOptions</code> to override the default for <code>externalLinkTarget</code>.
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Deactivating links">
      <p>You can manipulate links using the <code>pageRendered</code> event. This demo deactivates
      the links. Note you can't modify the appearance of the links. They are part of the PDF file,
      so they can't be displayed differently. But you can modify the invisible annotation layer.</p>
    </mat-tab>

    </mat-tab-group>
  </mat-card>

  <mat-card class="distance16 mat-elevation-z8 use-available-height" fxFlex="58%">
    <mat-tab-group>
      <mat-tab label="TypeScript" *ngIf="selectedTab!==2">
        <app-ie11-markdown [data]="sourcecode | language : 'typescript'"></app-ie11-markdown>
      </mat-tab>
      <mat-tab label="HTML" *ngIf="selectedTab!==2">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/links/html.md"></app-ie11-markdown>
      </mat-tab>
      <mat-tab label="TypeScript" *ngIf="selectedTab===2">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/links/ts2.md"></app-ie11-markdown>
      </mat-tab>
      <mat-tab label="HTML" *ngIf="selectedTab===2">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/links/html2.md"></app-ie11-markdown>
      </mat-tab>
     </mat-tab-group>
  </mat-card>
</div>

<mat-card class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
  <button mat-button (click)="fullscreen=!fullscreen" style="float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
  <ngx-extended-pdf-viewer *ngIf="!hidden"
    [src]="'/assets/pdfs/blind-text-collection.pdf'"
    [height]="'90vh'"
    [useBrowserLocale]="true"
    (pageRendered)="afterPageRendered($event)"
    [minifiedJSLibraries]="!isLocalhost"
  >
  </ngx-extended-pdf-viewer>
</mat-card>
</div>
