<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
  <mat-card class="distance16 mat-elevation-z8" fxFlex="40%">
    <p>
      The attribute <code>src</code> allows you to switch between different documents. There's also the attribute
      <code> [base64Src]</code> for base64 encoded documents.
    </p>
    <mat-form-field style="width:430px">
      <mat-label>[(src)]=</mat-label>
      <mat-select [(value)]="src" class="margin">
        <mat-option [value]="undefined">no document</mat-option>
        <mat-option value="/assets/pdfs/Introduction.pdf">/assets/pdfs/Introduction.pdf</mat-option>
        <mat-option value="/assets/pdfs/pdf-sample.pdf">/assets/pdfs/pdf-sample.pdf</mat-option>
        <mat-option [value]="url">new URL('{{url.toString()}}')</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-checkbox [(ngModel)]="dragAndDrop">enable dragging and dropping files to the PDF viewer</mat-checkbox>

    <p>Current value of <code>[src]</code>: {{ src === undefined ? 'undefined' : '"'+ src + '"' }}</p>
  </mat-card>

  <mat-card class="distance16 mat-elevation-z8" fxFlex="58%">
    <mat-tab-group>
      <mat-tab label="HTML template">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/multiple-documents/html.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="TypeScript">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/multiple-documents/ts.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
  <button mat-button (click)="fullscreen=!fullscreen" style="float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
  <ngx-extended-pdf-viewer
    [(src)]="src"
    backgroundColor="#ffffff"
    [enableDragAndDrop]="dragAndDrop"
    [useBrowserLocale]="true"
    [minifiedJSLibraries]="!isLocalhost"
  > </ngx-extended-pdf-viewer>
</mat-card>
</div>
