<div class="flex-container-column fill-container">
  @if (!fullscreen) {
    <div class="flex-container-row">
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 40%">
        <mat-tab-group>
          <mat-tab label="HTML template">
            <p>
              You can customize the thumbnails. To do so you need to define something that looks like an Angular template, but isn't an Angular template. It's not
              part of the Angular interpolation and lifecycle, so there are several restrictions. This demo shows over to circumvent them.
            </p>
            <p>If you want to use CSS classes, set `encapsulation: ViewEncapsulation.None`.</p>
            <p>In the HTML definition, you can use these variable <code>PAGE_NUMBER</code>.</p>
            <p>If you need more fine-grained control, modify the thumbnail in an event listener of `(thumbnailDrawn)`. The demo
              uses this option to color the thumbnails differently and to add the diagonal text.
            </p>
          </mat-tab>
          <mat-tab label="Call Angular code">
            <p>
              If you want to call Angular code from the template, implement `(thumbnailDrawn)` and use it to register the event listener.
              If you're not using ngZone, you need to call
              `ChangeDetectorRef.detectChanges()` or `ChangeDetectorRef.markForCheck()`.
            </p>
            <p>The demo set the initial state of the radio buttons in `(thumbnailDrawn)`.
            It also adds an event listener to rotate the pages on double-click.</p>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 progress" style="flex: 1 1 100%; box-sizing: border-box; max-width: 58%">
        <mat-tab-group>
          <mat-tab label="HTML template (1/2)">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-thumbnails/html.md"></app-ie11-markdown>
          </mat-tab>
          <mat-tab label="HTML template (2/2)">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-thumbnails/template37.md"></app-ie11-markdown>
          </mat-tab>
          <mat-tab label="(thumbnailDrawn)">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-thumbnails/ts.md"></app-ie11-markdown>
          </mat-tab>
          <mat-tab label="Call Angular code">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-thumbnails/ts2.md"></app-ie11-markdown>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  }

  <mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
    <button
      mat-button
      (click)="fullscreen = !fullscreen"
      style="display: none; float: right; height: 24px; line-height: 24px; min-width: 24px; padding: 0; margin-top: -4px"
      >
      <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
      </svg>
    </button>
    <ngx-extended-pdf-viewer
      [src]="'/assets/pdfs/stluciadance.com.pdf'"
      [customThumbnail]="radiobuttonThumbnail"
      (pageChange)="onPageChange($event)"
      (thumbnailDrawn)="onThumbnailDrawn($event)"
      [sidebarVisible]="true"
      [activeSidebarView]="1"
      [rotation]="rotation"
      [showBorders]="false"
      >
    </ngx-extended-pdf-viewer>
  </mat-card>
</div>

<ng-template #radiobuttonThumbnail>
  <a class="pdf-viewer-template">
    <div class="thumbnail" data-page-number="PAGE_NUMBER" style="border: none">
      <input id="thumbnail-cbx-PAGE_NUMBER" data-page-number="PAGE_NUMBER" class="thumbnail-radiobutton" type="radio" style="top: 100px; right: 25px; position: relative; transform: scale(1.5)"
        />
      <div class="thumbnail-text"></div>
      <div class="image-container" style="width: var(--thumbnail-width); height: var(--thumbnail-height)">
        <img class="thumbnailImage" />
      </div>
      <div
        style="margin-top: -30px;margin-left: auto;margin-right: auto;text-align: center;width: 25px;height: 25px;border-radius: 50%;background-color: blue;
          color: white;line-height: 25px;">
        #PAGE_NUMBER
      </div>
    </div>
  </a>
</ng-template>
