<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
  <mat-card class="distance16 mat-elevation-z8" fxFlex="40%">
    <mat-tab-group>
      <mat-tab label="HTML template">
        <p>You can customize the thumbnails. To do so you need to define something
          that looks like an Angular template, but isn't an Angular template.
          It's not part of the Angular interpolation and lifecycle, so there are
          several restrictions. This demo shows over to circumvent them.^
        </p>
        <p>If you want to use CSS classes, set `encapsulation: ViewEncapsulation.None`. </p>

        <p>In the HTML definition, you can use these variables:</p>
        <ul>
          <li><code>PAGE_NUMBER</code></li>
          <li><code>WIDTH_OF_RING</code> width of the ring around the thumbnail. This ring is used to highlight the selected page.</li>
          <li><code>HEIGHT_OF_RING</code> height of the ring around the thumbnail.</li>
        </ul>
      </mat-tab>
      <mat-tab label="Call JavaScript code">
        <p>You can call JavaScript code from the HTML template. Just register a method in the global `window` namespace
          and call it from the HTML template. The demo uses this approach to implement clicking on the radio buttons.
        </p>
        <p><b>Caveat:</b> the function is not automatically removed from the global name space when the Angular
        component is destroyed. This might cause memory leaks.</p>
        <p>This demo also shows that you sometimes need to wrap your code in a `setTimeout()`.</p>
      </mat-tab>
      <mat-tab label="Call Angular code">
        <p>The second approach allows you to call Angular code. You need to register a custom event. The demo
        uses this event to implement the mouse-over-event. The Angular component registers an event listener.
        When you want to call a method from JavaScript, just send the event. This approach allows you to access
        all the methods and attributes of the Angular component.</p>
        <p><b>Caveat:</b> There's only one Angular component rendering all the thumbnails. You can think of it
        as a service. So the event has to send the reference to the thumbnail or the page number.</p>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="distance16 mat-elevation-z8 progress" fxFlex="58%">
    <mat-tab-group>
      <mat-tab label="HTML template (1/2)">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-thumbnails/html.md"></app-ie11-markdown>
      </mat-tab>
      <mat-tab label="HTML template (2/2)">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-thumbnails/template.md"></app-ie11-markdown>
      </mat-tab>
      <mat-tab label="Call JavaScript code">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-thumbnails/ts.md"></app-ie11-markdown>
      </mat-tab>
      <mat-tab label="Call Angular code">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-thumbnails/ts2.md"></app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
  <button mat-button (click)="fullscreen=!fullscreen" style="float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
  <ngx-extended-pdf-viewer
      [src]="'/assets/pdfs/stluciadance.com.pdf'"
      [customThumbnail]="radiobuttonThumbnail"
      [height]="'90vh'"
      [useBrowserLocale]="true"
      (pageChange)="onPageChange($event)"
      (thumbnailDrawn)="onThumbnailDrawn($event)"
      [minifiedJSLibraries]="!isLocalhost">
  </ngx-extended-pdf-viewer>
</mat-card>
</div>

<ng-template #radiobuttonThumbnail>
  <a class="pdf-viewer-template">
    <div class="thumbnail" data-page-number="PAGE_NUMBER">
        <input id="thumbnail-cbx-$page"
        class="thumbnail-radiobutton"
        type="radio"
        style="top: 80px;right: 25px;position: relative;transform:scale(1.5)"
        onClick="window.updateThumbnailSelection(PAGE_NUMBER)">
        <div class="thumbnailSelectionRing" style="width: WIDTH_OF_RING; height: HEIGHT_OF_RING; display: contents">
          <div class="thumbnail-text" style="width: WIDTH_OF_RING; height: HEIGHT_OF_RING;margin-bottom: -HEIGHT_OF_RING">
          </div>
          <div class="image-container">
            <!-- image is automatically inserted here -->
        </div>
      </div>
    </div>
  </a>
</ng-template>
