.thumbnail-radiobutton {
  top: -76px;
  right: 10px;
  position: relative;
}

.thumbnail-text {
  position: relative;
  top: 50%;
  left: 14%;
  transform: rotate(-45deg);
  z-index: 1;
  color: black;
  font-size:120%;
}

#thumbnailView a {
  border: none;
}
