<article class="pdf-wrapper" fxLayout="column" fxFill>
  <div class="pdf-code-wrapper" fxLayout="row" fxLayoutAlign="space-between">
    <mat-card class="overflow-none distance16 mat-elevation-z8" fxFlex="20%">
      <div fxLayout="column" fxLayoutGap="10px">
        <button mat-raised-button color="primary" (click)="print()">Print</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
        <mat-checkbox [(ngModel)]="hideBuiltInProgress">Hide PDFJS Progress Dialog</mat-checkbox>

        <div *ngIf="showProgress" style="padding-bottom:10px; padding-top:10px">
          <div>Processing page {{ currentPageRendered }} of {{ totalPages }}</div>
        </div>

        <mat-progress-bar
          *ngIf="showProgress"
          class="print__progress"
          color="primary"
          mode="determinate"
          value="{{ printPercentage }}"
        ></mat-progress-bar>

        <div *ngIf="showCompleted" style="padding-bottom:10px; padding-top:10px">
          <div *ngIf="!isPrintCancelled" style="color:green">Printing completed!</div>
          <div *ngIf="isPrintCancelled" style="color:red">Printing was cancelled!</div>
        </div>
      </div>
    </mat-card>

    <mat-card class="overflow-y-scroll distance16 mat-elevation-z8 progress" fxFlex="79%">
      <mat-tab-group>
        <mat-tab label="HTML template">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-print-dialog/html.md"> </app-ie11-markdown>
        </mat-tab>
        <mat-tab label="TypeScript">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-print-dialog/ts.md"> </app-ie11-markdown>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  <mat-card class="pdf-card distance16 mat-elevation-z8 use-available-space">
    <ngx-extended-pdf-viewer
      [src]="'/assets/pdfs/A%20COOL%20KID%20LIKE%20ME.pdf'"
      zoom="50%"
      [showToolbar]="false"
      (beforePrint)="onBeforePrint()"
      (afterPrint)="onAfterPrint()"
      (progress)="onProgress($event)"
      [minifiedJSLibraries]="!isLocalhost"
    >
    </ngx-extended-pdf-viewer>
  </mat-card>
</article>
