<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 distance16 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:40%;">
        <p>
          The context menu of the pdf viewer adds little value. In some cases, it may even confuse users. So you can use the attribute
          <code>[contextMenuAllowed]="false"</code>
          to get rid of built-in browser options like "save as an image" and "inspect".
        </p>
        <label class="flex items-center space-x-2">
        <input type="checkbox" class="form-checkbox text-primary-600" class="margin" [(ngModel)]="allowContextMenu" />
        <span>allowContextMenu</span>
      </label>
      </div>
  <div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 distance16" style="flex: 1 1 100%; box-sizing: border-box; max-width:58%;">
        <div class="w-full">
        <!-- Tab buttons -->
        <div class="overflow-x-auto">
            <div class="flex space-x-2 w-max border-b border-gray-200 mb-2">
          <button
            class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
            [class.text-primary-600]="activeTab === 'html'"
            [class.border-primary-600]="activeTab === 'html'"
            [class.text-gray-500]="activeTab !== 'html'"
            [class.border-transparent]="activeTab !== 'html'"
            (click)="activeTab = 'html'">
            HTML template
          </button>
          <button
            class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
            [class.text-primary-600]="activeTab === 'typescript'"
            [class.border-primary-600]="activeTab === 'typescript'"
            [class.text-gray-500]="activeTab !== 'typescript'"
            [class.border-transparent]="activeTab !== 'typescript'"
            (click)="activeTab = 'typescript'">
            TypeScript
          </button>
        </div>
          </div>

        <!-- Tab content -->
        @if (activeTab === 'html') {
          <div class="tab-content">
<app-ie11-markdown src="/assets/extended-pdf-viewer/contextmenu/html.md"> </app-ie11-markdown>
        </div>
          }
        @if (activeTab === 'typescript') {
          <div class="tab-content">
<app-ie11-markdown src="/assets/extended-pdf-viewer/contextmenu/ts.md"> </app-ie11-markdown>
        </div>
          }
      </div>
      </div>
    </div>
  }

  <app-demo [src]="'/assets/pdfs/themes_de_la_Science-fiction.pdf'">
    <ngx-extended-pdf-viewer
      [src]="'/assets/pdfs/themes_de_la_Science-fiction.pdf'"
      [height]="'auto'"
      [contextMenuAllowed]="allowContextMenu"
      >
    </ngx-extended-pdf-viewer>
  </app-demo>
</div>
