<div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 8px;">
  <div>
    <app-copyright [src]="'/assets/pdfs/Bootstrap-vs-Material-Design-vs-Prime-vs-Tailwind.pdf'"></app-copyright>
  </div>
  <div>
    <app-fullscreen-button style="flex-shrink: 0; margin-left: 16px;"></app-fullscreen-button>
    <button mat-button mat-raised-button color="primary" (click)="onCloseClick()" style="margin-left: 8px;">Close</button>
  </div>
</div>
<ngx-extended-pdf-viewer
  src="/assets/pdfs/Bootstrap-vs-Material-Design-vs-Prime-vs-Tailwind.pdf"

  [showBorders]="false"
></ngx-extended-pdf-viewer>
