<div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 8px;">
  <div>
    <app-copyright [src]="'/assets/pdfs/Bootstrap-vs-Material-Design-vs-Prime-vs-Tailwind.pdf'"></app-copyright>
  </div>
  <div>
    <app-fullscreen-button style="flex-shrink: 0; margin-left: 16px;"></app-fullscreen-button>
    <button 
      class="px-4 py-2 bg-primary-600 text-white rounded-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500" 
      (click)="onCloseClick()" 
      style="margin-left: 8px;"
    >
      Close
    </button>
  </div>
</div>
<ngx-extended-pdf-viewer
  src="/assets/pdfs/Bootstrap-vs-Material-Design-vs-Prime-vs-Tailwind.pdf"

  [showBorders]="false"

      [theme]="theme"></ngx-extended-pdf-viewer>
