<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between">
  <mat-card class="distance16 mat-elevation-z8" fxFlex="40%">
    <mat-tab-group>
      <mat-tab label="Calling Angular">
        <p>You can manipulate links using the <code>pageRendered</code> event. For example,
          you can deactivate links, or you can call an Angular method when the link is clicked.</p>
        <p>
        Note you can't modify the appearance of the links. They are part of the PDF file,
        so they can't be displayed differently. But you can modify the invisible annotation layer.</p>
        <mat-radio-group
        (change)="manipulateLinks($event.value)"
        [value]="choice">
        <mat-radio-button [value]="'default'">default behavior</mat-radio-button>
        <br />
        <mat-radio-button [value]="'inactive'">deactivate links</mat-radio-button>
        <br />
        <mat-radio-button [value]="'angular'">call an Angular method</mat-radio-button>
        <br>
        <div *ngIf="counter" style="padding-top:10px"><b>The method <code>count()</code> has been called {{counter}} times.</b></div>
        </mat-radio-group>
      </mat-tab>
      <mat-tab label="Link targets">
        <p><b>Caveat</b> This demo doesn't work yet.</p>
        <p>Chose a link target:</p>
        <mat-radio-group aria-label="Toolbar zoom factor"
                         (change)="target=$event.value"
                         [value]="target">
          <mat-radio-button [value]="'blank'">[target]="blank" (opens a new window)</mat-radio-button>
          <br />
          <mat-radio-button [value]="'self'">[target]="self" (same window)</mat-radio-button>
          <br />
          <mat-radio-button [value]="'parent'">[target]="parent" (same window)</mat-radio-button>
          <br />
          <mat-radio-button [value]="'top'">[target]="top" (same window)</mat-radio-button>
          <br />
          <mat-radio-button [value]="'none'">[target]="none (identical to TOP)</mat-radio-button>
        </mat-radio-group>
        <p>The link target is only considered at render time. So this demo forces a reload when you chose
          a different option.
        </p>
     </mat-tab>
    <mat-tab label="Description">
      <p>
        There are several kinds of links:
      </p>
      <ul>
        <li>Internal links within the PDF files.</li>
        <li>External links on web server (usually with an https URL).</li>
        <li>Links to file on the local PC or the local network. The PDF viewer doesn't support such links.</li>
      </ul>
      <p>By default, external links are opened in the same window. In other words, clicking the link
        amounts to leaving the Angular application. To prevent this, you have two options:
      </p>
      <ul>
        <li>Add the target when you're creating the PDF file. That's generally the best solution.</li>
        <li>
          Use the <code>defaultOptions</code> to override the default for <code>externalLinkTarget</code>.
        </li>
      </ul>
    </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="distance16 mat-elevation-z8 progress" fxFlex="58%">
    <mat-tab-group>
      <mat-tab label="HTML template">
        <app-ie11-markdown ngPreserveWhitespaces src="/assets/ng2-pdf-viewer/ng2-links-call-angular/html.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="Typescript">
        <app-ie11-markdown ngPreserveWhitespaces src="/assets/ng2-pdf-viewer/ng2-links-call-angular/ts.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="distance16 mat-elevation-z8 use-available-height" style="height:54vh">
  <pdf-viewer *ngIf="!hidden"
              [src]="'/assets/pdfs/blind-text-collection.pdf'"
              [render-text]="true"
              [page]="1"
              [show-all]="false"
              [external-link-target]="target"
              (page-rendered)="afterPageRendered($event)"
              >
  </pdf-viewer>
</mat-card>
</div>
