<mat-card class="distance16 mat-elevation-z8" fxFlex="97%">
<h2>What is ng2-pdf-viewer?</h2>

<p>
  ng2-pdf-viewer is a no-nonsense PDF viewer for Angular. It displays your PDF file, but nothing else. If you need a UI, you'll need
  to write it yourself. In other words: it's a very flexible PDF viewer with a low footprint.
</p>

<h2>Licence and market share</h2>
<p>
  ng2-pdf-viewer has been published under a MIT license. It's got the biggest market share among the open source PDF viewers for Angular.
</p>
</mat-card>
