<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:40%;">
        <mat-tab-group>
          <mat-tab label="Displaying BLOBs">
            <p>To display a BLOB, just pass it to the <code>src</code> attribute.</p>
            <p>Chose a document:</p>
            <mat-radio-group [(ngModel)]="choice" aria-label="Chose a document:">
              <mat-radio-button [value]="'preloaded'" (click)="usePreloadedFile()">show a Blob that's already in memory</mat-radio-button>
              <br />
              <mat-radio-button [value]="'from-disk'" (click)="loadLargeFile()">load a large Blob via REST</mat-radio-button>
            </mat-radio-group>
          </mat-tab>
          <mat-tab label="Downloading BLOBs">
            <p>You can also download the PDF file as a BLOB. For instance, the user can upload a file, and you can use the method
              <code>NgxExtendedPdfViewerService.getCurrentDocumentAsBlob()</code> to send the file to your server. Or the user
              can fill a form embedded in the PDF file, and you can download the file containing the user's input.
            </p>
            <section class="section" style="margin-top:5px; margin-bottom:10px">
              <button mat-raised-button color="primary" (click)="downloadAsBlob()" style="margin-left:10px">download the file as a BLOB</button>
            </section>
            @if (downloaded) {
              <p>{{downloaded}}</p>
            }
          </mat-tab>
          <mat-tab label="Troubleshooting">
            <p>In rare cases, developers report they can't open the BLOB, but managed to open the same file as a Base64 file using
              the attribute <code>[base64Src]</code>.
              You can use this code snippets to convert a BLOB to a Base64 file:
            </p>
            <app-ie11-markdown src="/assets/extended-pdf-viewer/blob/workaround.md"> </app-ie11-markdown>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8" style="flex: 1 1 100%; box-sizing: border-box; max-width:58%;">
        <mat-tab-group>
          <mat-tab label="HTML template">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/blob/html.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="TypeScript">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/blob/ts.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="Preload-Guard and service">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/blob/ts2.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="Download PDF as a BLOB">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/blob/ts3.md"> </app-ie11-markdown>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  }

  <app-demo [src]="'/assets/pdfs/The Public Domain - Enclosing the Commons of the Mind.pdf'">
      <ngx-extended-pdf-viewer
        [src]="src"
        [height]="'auto'"
        (pageRendered)="pageRendered($event)"
        >
      </ngx-extended-pdf-viewer>
    </app-demo>
  </div>
