<div class="flex-container-column fill-container">
  <div class="flex-container-row"  *ngIf="!fullscreen">
    <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:100%; box-sizing: border-box; max-width:60%;">
        <p>
          The PDF viewer always renders the PDF file as a canvas. Often, it also generates additional layers on top of the canvas:
        </p>
          <ul>
          <li>The text layer allows you to mark and copy text. It's also the base of the search engine. You can render fast if
            you set <code>[textLayer]="false"</code>, but if you do, your users can't use the find bar.</li>
          <li>Interactive forms are part of the annotation layer.</li>
          <li>The editors of this PDF viewer use another layer to store you drawings and free-text.</li>
          </ul>
          <p>
          You don't have to think much about these layers most of the time. However, these layers are HTML divs, and you can
          manipulate them. </p>
          <p>
          For example, this demo uses the event listener
          <code>(annotationLayerRendered)</code> to fix a layout error in the document itself. The author has added a copyright box on page ii.
          By default, the box is too large, so the box is clipped. That looks attractive, too, but this demo reduces the size of the box
          to make it fit into the box without clipping it. As a side effect, the underlying link to a popular book vendor becomes visible.
        </p><p>
          Note that I don't want to do advertising. Please ignore the actual link unless you've read the example PDF and if you want to support
          the author by buying his book.
          To see the link, move the mouse slowly over the box until it becomes yellow. Technically speaking, I suspect that's a bug of
          pdf.js, because other PDF viewers always render the link without showing the info box.</p>
          <p>
          There's a catch: the <code>(annotationLayerRendered)</code> trick does not work in the thumbnail view.
          </p>
      </mat-card>

    <mat-card appearance="outlined" class="distance16 mat-elevation-z8" style="flex: 1 1 100%; box-sizing: border-box; max-width:38%">
      <mat-tab-group>
        <mat-tab label="HTML template">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/annotation-layer/html.md"> </app-ie11-markdown>
        </mat-tab>
        <mat-tab label="TypeScript">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/annotation-layer/ts.md"> </app-ie11-markdown>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  <mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
    <small
    >Copyright hint: the e-book has been published by James Boyle under a
    <a target="#" href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> on
    <a target="#" href="https://www.thepublicdomain.org/enclosing-the-commons-of-the-mind/">www.thepublicdomain.org</a></small
  >.

  <button mat-button (click)="fullscreen=!fullscreen" style="display:none;float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
    <ngx-extended-pdf-viewer
      [src]="'./assets/pdfs/The Public Domain - Enclosing the Commons of the Mind.pdf'"
      [minifiedJSLibraries]="!isLocalhost"
      [page]="2"
      [zoom]="'auto'"
      (annotationLayerRendered)="onAnnotationLayerRendered($event)"
    >
    </ngx-extended-pdf-viewer>
  </mat-card>
</div>
