<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:50%">
        <p>The text layer is an optional, invisible layer above the PDF document, which
          is rendered as an image. You need it to
        </p>
        <ul style="margin-top: 0px; margin-bottom: 0px">
          <li>mark and copy texts</li>
          <li>find texts</li>
          <li>and - to a limited extend and far from being perfect - to modify how texts are displayed.</li>
        </ul>
        <p>By default, the text layer is switched off in order to render the document faster. The drawback
          is that both the find menu and the select tool are disabled until you activate the text layer.
        </p>
        <p><b>Demos:</b></p>
        <mat-checkbox class="margin" [(ngModel)]="markLongWords">mark long words</mat-checkbox>
        <mat-checkbox class="margin" [(ngModel)]="showBoxes">put each text layer <code>&lt;span&gt;</code> into a box</mat-checkbox>
        <mat-checkbox class="margin" [(ngModel)]="showTextLayer">show the text layer</mat-checkbox>
            <p>The demos show that the text layer isn't perfect. The positions are good enough for finding and marking text, but
              they don't match the precise positions. Plus, sometime words are spread among several <code>&lt;span&gt;</code> tags.
            </p>
          </mat-card>
          <mat-card appearance="outlined" class="distance16 mat-elevation-z8 progress" style="flex: 1 1 100%; box-sizing: border-box; max-width:48%;">
            <mat-tab-group>
              <mat-tab label="HTML">
                <app-ie11-markdown src="/assets/extended-pdf-viewer/textlayer/html.md"> </app-ie11-markdown>
              </mat-tab>
              <mat-tab label="show text layer">
                <app-ie11-markdown src="/assets/extended-pdf-viewer/textlayer/ts.md"> </app-ie11-markdown>
              </mat-tab>
              <mat-tab label="highlight words">
                <app-ie11-markdown src="/assets/extended-pdf-viewer/textlayer/ts2.md"> </app-ie11-markdown>
              </mat-tab>
              <mat-tab label="mark long words">
                <app-ie11-markdown src="/assets/extended-pdf-viewer/textlayer/ts3.md"> </app-ie11-markdown>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
      }

      <mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!(fullscreenService.isFullscreen$ | async)">
        <app-fullscreen-button></app-fullscreen-button>
        <ngx-extended-pdf-viewer
          [src]="'/assets/pdfs/Portugues-para-principiantes-1538054164.pdf'"
          [textLayer]="true"
          (textLayerRendered)=highlightWords($event);
          [page]="9"
          [showHandToolButton]="true"
          [handTool]="false"
          >
        </ngx-extended-pdf-viewer>
      </mat-card>
    </div>

