<mat-card class="distance16 mat-elevation-z8" fxFlex="97%">
  <h1>Attributes, events, and attributes with two-way-binding</h1>
  <h2>Legend:</h2>
  <ul>
    <li>[(attribute)] describes an attribute with two-way-binding</li>
    <li>[attribute] means that PDF-viewer reacts when the attribute changes</li>
    <li>(attribute) means an event is raised when the user changes a setting</li>
    <li>attribute (without special characters) means the attribute is used at load time only. Subsequent changes are ignored.</li>
    </ul>

  <angular2-smart-table [settings]="settings" [source]="data"></angular2-smart-table>
</mat-card>
