<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
  <mat-card class="distance16 mat-elevation-z8" fxFlex="45%">
    <mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="selectedTab=$event">
      <mat-tab label="Getting started">
        <p>
        Open a terminal and enter this command at your project's root folder:
        <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/simple/schematics.md"> </app-ie11-markdown>
        This configures your project, adds an example component and an example PDF file, so you
        just need to add the new <code>&lt;add-example-pdf-viewer></code> tag to one of you <code>*.html</code> files.
      </p>
      </mat-tab>
      <mat-tab label="Basic parameters">
          <p>
          This demo shows the default viewer. In most cases, you can also omit the property <code>[useBrowserLocale]</code>. It's a
          performance optimization: the showcase embeds the translation files in the <code>index.html</code>. This approach is faster than
          the flexible default approach which supports more then 120 languages and dialects.
        </p>
        <p>
          If you've set up the PDF viewer, but are missing the find dialog and the text selection: that's a performance optimization.
          Activate the `[textLayer]` to enable these two features.
        </p>
        <p>
          The <code>height</code> attribute can often be omitted, too. The showcase only needs it because its layout framework, Angular
          Material, sets the height of the PDF viewer to zero pixels by default.
        </p>
      </mat-tab>
      <mat-tab label="Page and page label">
        <p>The page is the number page number. It always starts with 1.</p>
        <p>
          The page label is the page number assigned by the author of the PDF document. For example, the document below uses roman numbers
          for the table of contents and arabic numbers for the main body.
        </p>
        <p>
          If you try to use both `[(page)]` and `[(pageLabel)]` with two-way binding, you'll run into
          `ExpressionChangedAfterItHasBeenCheckedErrors`. To prevent this, you'll want to adopt the `OnPush` change detection strategy.
        </p>
        <mat-form-field class="margin">
          <input matInput  [(ngModel)]="page" placeholder="Current page number" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="pageLabel" placeholder="Current page label" />
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Color themes">
        <p>
          You can choose between two predefined color themes, or you can provide your own custom color theme.
          Note that switching the themes doesn't work reliably without a full reload (i.e. hitting the F5
          or CMD+R key). This demo reloads the page programmatically each time you change the theme.
        </p>
        <mat-radio-group aria-label="Color themes" [(ngModel)]="theme" style="line-height: 1.5">
          <mat-radio-button value="dark">dark theme</mat-radio-button>
          <br />
          <mat-radio-button value="light">light theme</mat-radio-button>
        </mat-radio-group>
      </mat-tab>
      <mat-tab label="Height">
        <p>
          If you omit the <code>[height]</code> attribute, the PDF viewer tries to use all the available vertical space.
          To make this work, make sure the surrounding container is large enough to contain the PDF viewer.
          By default, many CSS frameworks set the height of an empty container to zero pixels.
          You can use the <code>height</code> attribute to work around this limitation or to fine-tune the amount
          of screen estate you need.
        </p>
        <mat-radio-group aria-label="Height" [(ngModel)]="height" style="line-height: 1.5">
          <mat-radio-button [value]="undefined">default (i.e. [height]="undefined")</mat-radio-button>
          <br />
          <mat-radio-button value="100%">[height]="'100%'"</mat-radio-button>
          <br />
          <mat-radio-button value="95%">[height]="'95%'"</mat-radio-button>
          <br />
          <mat-radio-button value="90vh">[height]="'90vh'"</mat-radio-button>
          <br />
          <mat-radio-button value="200px">[height]="'200px'"</mat-radio-button>
        </mat-radio-group>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="distance16 mat-elevation-z8 progress" fxFlex="53%">
    <div *ngIf="selectedTab === 0">
      <mat-tab-group>
        <mat-tab label="HTML template">
         <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/simple/html.md"> </app-ie11-markdown>
        </mat-tab>
      </mat-tab-group>
    </div>
    <mat-tab-group *ngIf="selectedTab === 1">
      <mat-tab label="HTML template">
       <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/simple/html2.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="Typescript">
       <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/simple/ts.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
    <mat-tab-group *ngIf="selectedTab === 2">
      <mat-tab label="HTML template">
       <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/simple/html3.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="Typescript">
       <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/simple/ts3.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
  <button mat-button (click)="fullscreen=!fullscreen" style="float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>

  <div>
    <small
      >Copyright hint: the e-book has been published by James Boyle under a
      <a target="#" href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> on
      <a target="#" href="https://www.thepublicdomain.org/enclosing-the-commons-of-the-mind/">www.thepublicdomain.org</a>
      <br>
        <span *ngIf="time">Time till page 5 shows: {{time}} ms; last rendering time: {{currentTime}} ms</span>
      </small
    >
  </div>

  <div style="width: 100%">
      <mat-tab-group>
        <mat-tab label="live demo">
      <ngx-extended-pdf-viewer
        *ngIf="showPdfViewer"
        [src]="'./assets/pdfs/The Public Domain - Enclosing the Commons of the Mind.pdf'"
        [zoom]="'auto'"
        [height]="height"
        [useBrowserLocale]="true"
        [textLayer]="true"
        [showHandToolButton]="true"
        [showPresentationModeButton]="true"
        [(page)]="page"
        [(pageLabel)]="pageLabel"
        [theme]="theme"
        (updateFindMatchesCount)="onUpdateFindResult($event)"
        [minifiedJSLibraries]="false"
        (pageRendered)="onPageRendered($event)"
        (pageRender)="onPageRender()"
      >
      </ngx-extended-pdf-viewer>
    </mat-tab>
    <mat-tab label="console messages">
      <div *ngFor="let l of logService.logs">
        {{l}}
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
</mat-card>
</div>
