<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
    <mat-card class="distance16 mat-elevation-z8" fxFlex="40%">
        <p>The PDF viewer accepts different types of input: URLs, BLOBS, <code>UInt8Array</code>,
          and Base64 encoded strings. The first three can simply be passed to the attribute <code>[src]</code>.</p>
        <p>Base64 encoded files, in contrast, have to be passed to the attribute <code>[base64src]</code>.
        </p>
        <p><b>Caveat:</b> I've seen developers populating both <code>[src]</code> and <code>[base64src]</code>.
        Please avoid doing so. There's no way to predict which of the two attributes is actually used.</p>
        <button mat-raised-button color="primary" (click)="toggle()">show another document</button>
      </mat-card>

    <mat-card class="distance16 mat-elevation-z8" fxFlex="58%">
      <mat-tab-group>
        <mat-tab label="HTML template">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/base64/html.md"> </app-ie11-markdown>
        </mat-tab>
        <mat-tab label="TypeScript">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/base64/ts.md"> </app-ie11-markdown>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  <mat-card class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
  <button mat-button (click)="fullscreen=!fullscreen" style="float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
    <ngx-extended-pdf-viewer
      [base64Src]="base64 | async"
      backgroundColor="#ffffff"
      [handTool]="false"
      [showHandToolButton]="true"
      [sidebarVisible]="true"
      [minifiedJSLibraries]="!isLocalhost"
    >
    </ngx-extended-pdf-viewer>
  </mat-card>
</div>
