<div class="flex-container-column fill-container">
  @if (!fullscreen) {
    <div class="flex-container-row">
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8" style="flex: 1 1 100%; box-sizing: border-box; max-width: 40%">
        <mat-tab-group (selectedIndexChange)="changePdfFile($event)">
          <mat-tab label="live demo">
            <p>You can export text, drawings, images, and highlight you've added to a PDF file. You can also add texts and drawings programmatically.
              However, the PDF viewer doesn't support adding highlights programmatically. As for images, that's supported, but using the <a href="./annotation-layer-api">high-level different API</a>.
            </p>
            <p>
              <b>Breaking change between pdf.js 3.5 and 3.9:</b> The coordinates of the serialized drawings have changed. Please keep in mind that this is an
              internal API of pdf.js, so it's subject to change without notice.
            </p>
            <button mat-raised-button color="primary" (click)="exportAnnotations()">Export annotations</button>
            <button mat-raised-button color="primary" (click)="addTextEditor()">Add text editor</button>
            <button mat-raised-button color="primary" (click)="addDrawing()">Add drawing</button>
            <button mat-raised-button color="primary" (click)="removeEditors()">Remove editors</button>
            <button mat-raised-button color="primary" (click)="removeTextEditors()">Remove text editors from page 1</button>
            <button mat-raised-button color="primary" (click)="removeDrawingEditors()">Remove drawings</button>
          </mat-tab>
          <mat-tab label="forms">
            <p>Both forms and editor annotations are PDF annotation, so it might happen the APIs get in the way of each other. Until version 19.6.6,
              clicking "remove editors" would also remove the form fields. This has been fixed in version 19.6.7.
            </p>
            <button mat-raised-button color="primary" (click)="exportAnnotations()">Export annotations</button>
            <button mat-raised-button color="primary" (click)="addTextEditor()">Add text editor</button>
            <button mat-raised-button color="primary" (click)="addDrawing()">Add drawing</button>
            <button mat-raised-button color="primary" (click)="removeEditors()">Remove editors</button>
            <button mat-raised-button color="primary" (click)="removeTextEditors()">Remove text editors from page 1</button>
            <button mat-raised-button color="primary" (click)="removeDrawingEditors()">Remove drawings</button>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 progress" style="flex: 1 1 100%; box-sizing: border-box; max-width: 58%">
        <mat-tab-group [selectedIndex]="selectedTabIndex">
          <mat-tab label="HTML template">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/export-annotations/html.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="TS - text">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/export-annotations/ts - add text.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="TS - drawing">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/export-annotations/ts - add drawing.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="TS - removing editors">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/export-annotations/ts - removing.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="TS - exporting">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/export-annotations/ts - export.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="live demo">
            <div class="distance16">
              @if (rawAnnotations) {
                <div>
                  <p>You can edit the annotations. Click outside the text areas to trigger rendering.</p>
                  @for (anno of rawAnnotations; track anno; let i = $index) {
                    <ol>
                      <li>
                        <textarea
                          [value]="rawAnnotations[i] | json"
                          (change)="updateAnnotation(i, $event)"
                          (input)="adjustSize($event)"
                          rows="{{ countRows(rawAnnotations[i] | json) }}"
                          cols="60"
                        ></textarea>
                      </li>
                    </ol>
                  }
                </div>
              }
              @if (!rawAnnotations) {
                <div>No annotations. Use the editor or the buttons to add text or drawings to the PDF file.</div>
              }
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  }

  <mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
    <button
      mat-button
      (click)="fullscreen = !fullscreen"
      style="display: none; float: right; height: 24px; line-height: 24px; min-width: 24px; padding: 0; margin-top: -4px"
      >
      <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
      </svg>
    </button>
    <ngx-extended-pdf-viewer
      [src]="src"
      [textLayer]="true"
      [showHandToolButton]="true"
      [handTool]="false"

      >
    </ngx-extended-pdf-viewer>
  </mat-card>
</div>
