<div fxLayout="row" fxLayoutAlign="space-between">
  <mat-card class="distance-16 mat-elevation-z8" fxFlex="60%">
    <markdown>
      <p>
        The PDF viewer comes with a fine-tuned set of CSS rules to make it responsible. It automatically adapts for large and small screens.
      </p>
      <p>
        Unfortunately, when you're embedding the PDF viewer into your web application, this CSS rules quickly start to fail. Embedding often
        means that the PDF viewer can't use the full width of the screen. For example, the page you're currently viewing has a side menu
        (unless your viewing it on a very small smartphone). As of 2019, CSS doesn't bear such a scenario in mind.
      </p>
      <p>So &lt;ngx-extended-pdf-viewer&gt; uses a two-part strategy:</p>
      <ul>
        <li>
          If &lt;ngx-extended-pdf-viewer&gt; uses almost the full width of the window, the standard CSS rules are used. That's the most
          efficient approach.
        </li>
        <li>Otherwise, &lt;ngx-extended-pdf-viewer&gt; uses JavaScript to simulate the media queries.</li>
      </ul>
      <p>You can override the automagical choice of the correct approach by setting the attribute <code>[ignoreResponsiveCSS]</code>.</p>
      <p>
        To see the effect, make this window smaller. If <code>[ignoreResponsiveCSS]="false</code>, you'll notice some errors. In particular,
        the scale selector is pushed down on small screens, showing up in like a hardly-visibe ghost above the PDF file. If
        <code>[ignoreResponsiveCSS]="false</code>, these errors do not show. At the time of writing, the demo isn't perfect yet. Switch to
        the full-width view before changing the setting to see the effect. Otherwise, you might be confused by the current, slightly buggy
        state of the demo.
      </p>
    </markdown>
    <mat-label title="Toolbar zoom factor"></mat-label>
    <mat-radio-group aria-label="Toolbar zoom factor" [(ngModel)]="ignoreResponsiveCSS">
      <mat-radio-button [value]="true">true</mat-radio-button>
      <mat-radio-button [value]="false">false</mat-radio-button>
    </mat-radio-group>
  </mat-card>

  <mat-card class="distance-16 mat-elevation-z8" fxFlex="38%">
    <mat-tab-group>
      <mat-tab label="HTML template">
        <markdown ngPreserveWhitespaces src="assets/responsive-design/html.md"> </markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="distance-16 mat-elevation-z8">
  <ngx-extended-pdf-viewer
    [src]="'assets/pdfs/pdf-sample.pdf'"
    [ignoreResponsiveCSS]="ignoreResponsiveCSS"
    backgroundColor="#ffffff"
    [height]="'90vh'"
    [useBrowserLocale]="true"
  >
  </ngx-extended-pdf-viewer>
</mat-card>
