<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
  <div class="flex-container-row">
    <div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 mt-1 margin-right flex-1 box-border max-w-[45%]">
      <p>
        The full-screen mode of pdf.js (and, by extension, ngx-extended-pdf-viewer)
        is optimized for presentations. There's little else you can do with it:
        you can't scroll, nor can you zoom in or out.
      </p>
      <p>You can't activate the full-screen mode programmatically. It must be triggered
        by the user.
      </p>
    </div>
<div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 mt-1 flex-1 box-border max-w-[53%]">
      <div class="w-full">
        <!-- Tab buttons -->
        <div class="overflow-x-auto">
            <div class="flex space-x-2 w-max border-b border-gray-200 mb-2">
          <button
            class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
            [class.text-primary-600]="activeTab === 'html'"
            [class.border-primary-600]="activeTab === 'html'"
            [class.text-gray-500]="activeTab !== 'html'"
            [class.border-transparent]="activeTab !== 'html'"
            (click)="activeTab = 'html'">
            HTML template
          </button>
          <button
            class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
            [class.text-primary-600]="activeTab === 'typescript'"
            [class.border-primary-600]="activeTab === 'typescript'"
            [class.text-gray-500]="activeTab !== 'typescript'"
            [class.border-transparent]="activeTab !== 'typescript'"
            (click)="activeTab = 'typescript'">
            Typescript
          </button>
        </div>
          </div>

        <!-- Tab content -->
        @if (activeTab === 'html') {
          <div class="tab-content">
<app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/simple/html.md">
          </app-ie11-markdown>
        </div>
          }
        @if (activeTab === 'typescript') {
          <div class="tab-content">
<app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/simple/ts.md"> </app-ie11-markdown>
        </div>
          }
      </div>
    </div>
  </div>
  }

  <app-demo [src]="'/assets/pdfs/GraalVM.pdf'">
    <ngx-extended-pdf-viewer [src]="'/assets/pdfs/GraalVM.pdf'" [zoom]="'auto'"
      [showPresentationModeButton]="true" [showRotateButton]="false" [showHandToolButton]="false"
      [showDownloadButton]="false" [showPrintButton]="false" [showSecondaryToolbarButton]="false"
      [backgroundColor]="'#161C1E'" [height]="'auto'"
      [theme]="theme">
    </ngx-extended-pdf-viewer>
  </app-demo>
</div>
