<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <app-octocat></app-octocat>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span
      >Angular PDF viewer showcase. Running on Angular {{ angularVersion }}{{ pdfjsVersion }} and {{library}}
      {{ version }}.</span
    >
  </mat-toolbar-row>
  <mat-toolbar-row class="second-row">
    <mat-radio-group aria-label="Demo" [(ngModel)]="viewer">
      Choose a library:
      <mat-radio-button class="distance-16" value="ngx-extended-pdf-viewer">ngx-extended-pdf-viewer (pdf.js 2.10)</mat-radio-button>
      <mat-radio-button class="distance-16" value="bleeding-edge">ngx-extended-pdf-viewer (pdf.js 2.11)</mat-radio-button>
      <mat-radio-button class="distance-16" value="ng2-pdf-viewer">ng2-pdf-viewer (pdf.js 2.7)</mat-radio-button>
    </mat-radio-group>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <app-extended-pdf-viewer-menu *ngIf="ngxExtendedPdfViewer"></app-extended-pdf-viewer-menu>
    <app-ng2-pdf-viewer-menu *ngIf="ng2PdfViewer"></app-ng2-pdf-viewer-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="with-border">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
