<mat-toolbar color="primary" class="mat-elevation-z8">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Angular PDF viewer showcase. Running on Angular 9.0.0-rc.6 and ngx-extended-pdf-viewer 1.8.0.</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container distance-48">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>About</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'intro'">What is ngx-extended-pdf-viewer?</a>
      <a mat-list-item [routerLink]="'alternatives'">Alternatives</a>
    </mat-nav-list>

    <mat-toolbar>Documentation</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'getting-started'">Getting started</a>
      <a mat-list-item [routerLink]="'troubleshooting'">Troubleshooting</a>
      <a mat-list-item [routerLink]="'attributes'">Attributes and events</a>
      <a mat-list-item [routerLink]="'range-requests'">Range requests</a>
    </mat-nav-list>

    <mat-toolbar>Demos</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'simple'">Simple demo</a>
      <a mat-list-item [routerLink]="'base64'">Base64 encoded files</a>
      <a mat-list-item [routerLink]="'multiple-documents'">Switching between documents</a>
      <a mat-list-item [routerLink]="'mobile'">Mobile devices</a>
      <a mat-list-item [routerLink]="'smartphone'">Smartphones</a>
      <a mat-list-item [routerLink]="'contextmenu'">Context menu</a>
      <a mat-list-item [routerLink]="'hiding-buttons'">Customizing the buttons</a>
      <a mat-list-item [routerLink]="'keyboard'">Keyboard</a>
      <a mat-list-item [routerLink]="'i18n'">Internationalization</a>
      <a mat-list-item [routerLink]="'pages-loaded'">(pagesLoaded) event</a>
      <a mat-list-item [routerLink]="'find'">Find programmatically</a>
      <a mat-list-item [routerLink]="'responsive-design'">Responsive design</a>
      <a mat-list-item [routerLink]="'zoom'">Zoom</a>
      <a mat-list-item [routerLink]="'custom-print-dialog'">Custom print progress</a>
      <p style="height:5em">&nbsp;</p>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="with-border">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
