.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.with-border {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-toolbar.mat-primary {
  z-index: 11;
}
