.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 33vw;
  max-width: 400px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.with-border {
  padding-left: 10px;
  padding-right: 10px;
  height: calc(100vh - 85px);
}


.mat-toolbar.mat-primary {
  z-index: 11;
}

.mat-mdc-list-base .mat-mdc-list-item {
  height: 32px;
  font-size: 14px;
}

.mat-mdc-list-base .mat-mdc-list-item:hover {
  color: blue;
}

.mat-toolbar-single-row {
  height: 48px;
  padding-top: 24px;
}

.mat-nav-list a.mat-mdc-list-item.long-text {
  padding-top: 5px;
  padding-bottom: 5px;
}

.is-active {
  color: #3f51b5;
}

.distance16 {
  padding-left: 16px;
}

.mat-sidenav {
  padding-top: 48px;
}

.toolbar {
  padding-block: 0.5rem;
}

.first-row {
  display: grid;
  grid-template-columns: auto minmax(0,1fr);
  align-items: center;
  gap: 1rem
}

.inner-row {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

::ng-deep .inner-row .mat-mdc-radio-button .mdc-form-field {
  color: white;
}
