.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.with-border {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}


.mat-toolbar.mat-primary {
  z-index: 11;
}

.mat-list-base .mat-list-item {
  height: 32px;
  font-size: 14px;
}

.mat-list-base .mat-list-item:hover {
  color: blue;
}

.mat-toolbar-single-row {
  height: 48px;
  padding-top: 24px;
}

.mat-nav-list a.mat-list-item.long-text {
  padding-top: 5px;
  padding-bottom: 5px;
}

.is-active {
  color: #3f51b5;
}

.distance16 {
  padding-left: 16px;
}

.mat-sidenav {
  padding-top: 48px;
}

.second-row {
  margin-top: -16px;
  padding-bottom: 8px;
}
