<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8" style="flex: 1 1 100%; box-sizing: border-box; max-width:40%;">
        <p>
          You can set some of the properties of the editors.
        </p>
        <mat-form-field class="compact-input" style="width: 200px;; display: inline"  appearance="outline">
          <mat-label>text editor font size</mat-label>
          <input matInput class="margin" (change)="editorFontSize=$event" (input)="editorFontSize=$event" placeholder="10 (1-100)" type="number"/>
        </mat-form-field>
        <mat-form-field class="compact-input" style="width: 200px;padding-top:8px" appearance="outline">
          <mat-label>text editor font color</mat-label>
          <input matInput class="margin" (change)="editorFontColor=$event" (input)="editorFontColor=$event" placeholder="#FF0000"/>
        </mat-form-field>
        <mat-form-field  class="compact-input" style="width: 200px;padding-top:8px" appearance="outline">
          <mat-label>ink editor color</mat-label>
          <input matInput class="margin" (change)="editorInkColor=$event" (input)="editorInkColor=$event" placeholder="#FF0000"/>
        </mat-form-field>
        <mat-form-field class="compact-input" style="width: 200px;padding-top:8px" appearance="outline">
          <mat-label>ink editor opacity</mat-label>
          <input matInput class="margin" (change)="editorInkOpacity=$event" (input)="editorInkOpacity=$event" placeholder="10 (0-100)" type="number"/>
        </mat-form-field>
        <mat-form-field class="compact-input" style="width: 200px;padding-top:8px" appearance="outline">
          <mat-label>ink editor thickness</mat-label>
          <input matInput class="margin" (change)="editorInkThickness=$event" (input)="editorInkThickness=$event" placeholder="10 (1-20)" type="number"/>
        </mat-form-field>
        <mat-form-field class="compact-input" style="width: 200px;padding-top:8px" appearance="outline">
          <mat-label>highlight editor color</mat-label>
          <input matInput class="margin" (change)="editorHighlightColor=$event" (input)="editorHighlightColor=$event" placeholder="#FF0000"/>
        </mat-form-field>
        <mat-form-field class="compact-input" style="width: 200px;padding-top:8px" appearance="outline">
          <mat-label>highlight editor default color</mat-label>
          <input matInput class="margin" (change)="editorHighlightDefaultColor=$event" (input)="editorHighlightDefaultColor=$event" placeholder="#FF0000"/>
        </mat-form-field>
        <mat-form-field class="compact-input" style="width: 200px;padding-top:8px" appearance="outline">
          <mat-label>highlight editor thickness</mat-label>
          <input matInput class="margin" (change)="editorHighlightThickness=$event" (input)="editorHighlightThickness=$event" placeholder="10 (1-24)" type="number"/>
        </mat-form-field>
        <mat-form-field class="compact-input" style="width: 200px;padding-top:8px" appearance="outline">
          <mat-label>highlight editor - show all</mat-label>
          <input matInput class="margin" (change)="editorHighlightShowAll=$event" (input)="editorHighlightShowAll=$event" placeholder="true"/>
        </mat-form-field>
      </mat-card>
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 progress" style="flex: 1 1 100%; box-sizing: border-box; max-width:58%;">
        <mat-tab-group [selectedIndex]="selectedTabIndex">
          <mat-tab label="HTML template">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/editor-settings/ts1.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="TypeScript">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/editor-settings/ts2.md"> </app-ie11-markdown>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  }

  <app-demo [src]="'/assets/pdfs/simple-demo-document.pdf'">
    <ngx-extended-pdf-viewer
      [src]="'/assets/pdfs/simple-demo-document.pdf'"
      [height]="'auto'"
      [textLayer]="true"
      [showHandToolButton]="true"
      [handTool]="false"

      >
    </ngx-extended-pdf-viewer>
  </app-demo>
</div>
