<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 mt-1 margin-right flex-1 box-border max-w-[40%]">
        <p>Since version 24.2.0, users can modify the page order of the PDF file:
      </p>
      <ul>
        <li>You can swap two pages in the thumbnail view. Just drag and drop a thumbnail up or down.</li>
        <li>The toolbar offers buttons to move the current page up or down.</li>
      </ul>
      <p>By default, drag-and-drop reordering is deactivated. You must enable it with `pdfDefaultOptions.enablePageReordering = true`.</p>
      <p>The toolbar buttons are also invisible by default. You must enable them with `[movePageButton]="true" (or any other of the
        `ResponsiveVisibilty` attributes).</p>
  </div>
  <div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 mt-1 flex-1 box-border max-w-[58%]">
    <div class="w-full">
        <!-- Tab buttons -->
        <div class="overflow-x-auto">
            <div class="flex space-x-2 w-max border-b border-gray-200 mb-2">
          <button
            class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
            [class.text-primary-600]="activeTab === 'html'"
            [class.border-primary-600]="activeTab === 'html'"
            [class.text-gray-500]="activeTab !== 'html'"
            [class.border-transparent]="activeTab !== 'html'"
            (click)="activeTab = 'html'">
            HTML template
          </button>
          <button
            class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
            [class.text-primary-600]="activeTab === 'typescript'"
            [class.border-primary-600]="activeTab === 'typescript'"
            [class.text-gray-500]="activeTab !== 'typescript'"
            [class.border-transparent]="activeTab !== 'typescript'"
            (click)="activeTab = 'typescript'">
            TypeScript
          </button>
        </div>
          </div>

        <!-- Tab content -->
        @if (activeTab === 'html') {
          <div class="tab-content">
<app-ie11-markdown src="/assets/extended-pdf-viewer/modifying-page-order/html.md"> </app-ie11-markdown>
        </div>
          }
        @if (activeTab === 'typescript') {
          <div class="tab-content">
<app-ie11-markdown src="/assets/extended-pdf-viewer/modifying-page-order/ts.md"> </app-ie11-markdown>
        </div>
          }
      </div>
  </div>
</div>
}

<app-demo [src]="'/assets/pdfs/ngx-extended-pdf-viewer-flyer.pdf'">
  <ngx-extended-pdf-viewer
    [src]="'/assets/pdfs/ngx-extended-pdf-viewer-flyer.pdf'"
    [showMovePageButton]="true"

      [theme]="theme">
  </ngx-extended-pdf-viewer>
</app-demo>
</div>
