<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:40%;">
        <mat-tab-group>
          <mat-tab label="Getting started">
            <p>
              This option allows you to display the PDF file without scrollbar.
            </p>
            <mat-checkbox class="margin" [(ngModel)]="showWidgets">show widgets</mat-checkbox> (forces reload)
            <p></p>
            <mat-radio-group aria-label="File selection" [(ngModel)]="file" style="line-height: 1.5;">
              <mat-radio-button [value]="0">tiny file (1 page, 41 KB)</mat-radio-button>
              <br />
              <mat-radio-button [value]="1">small file (4 pages, 700 KB)</mat-radio-button>
              <br />
              <mat-radio-button [value]="2">huge file (300+ pages, 2 MB)</mat-radio-button>
            </mat-radio-group>
            @if (file === 2) {
              <p>
                <mat-radio-group aria-label="Zoom" [(ngModel)]="zoom" style="line-height: 1.5;">
                  <mat-radio-button [value]="'100%'">zoom: 100%</mat-radio-button>
                  <br />
                  <mat-radio-button [value]="'7%'">zoom: 7%, scrollMode = wrapped</mat-radio-button> (demonstrates performance challenges)
                </mat-radio-group>
                {{zoom}} {{zoom === '100%'}} {{zoom === '100%' ? ScrollModeType.vertical : ScrollModeType.wrapped}}
              </p>
            }
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 progress" style="flex: 1 1 100%; box-sizing: border-box; max-width:58%;">
        <mat-tab-group>
          <mat-tab label="HTML template">
            <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/infinite-scroll/html.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="Typescript">
            <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/infinite-scroll/ts.md"> </app-ie11-markdown>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  }

  <mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!(fullscreenService.isFullscreen$ | async)">
    <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 8px;">
      <div>
        <app-copyright [src]="filenames[file]"></app-copyright>

      </div>
      <app-fullscreen-button style="flex-shrink: 0; margin-left: 16px;"></app-fullscreen-button>
    </div>
    @if (showPdfViewer) {
      <ngx-extended-pdf-viewer
            [src]="filenames[file]"
            [textLayer]="showWidgets"
            [showHandToolButton]="showWidgets"
            [showToolbar]="showWidgets"
            [sidebarVisible]="showWidgets"
            [zoom]="zoom"
            [scrollMode]="zoom === '100%' ? ScrollModeType.vertical : ScrollModeType.wrapped"
            [pageViewMode]="'infinite-scroll'"
            >
          </ngx-extended-pdf-viewer>
        }
      </mat-card>
    </div>
