<mat-card class="distance-16 mat-elevation-z8">
  <markdown src="assets/getting-started/text.md"> </markdown>
  <mat-tab-group>
    <mat-tab label="Angular CLI">
      <markdown ngPreserveWhitespaces src="assets/getting-started/cli.md"> </markdown>
    </mat-tab>
    <mat-tab label="JHipster 6.6 + ngx-extended-pdf-viewer 2.0.0+">
      <markdown ngPreserveWhitespaces src="assets/getting-started/jhipster6.6.md"> </markdown>
    </mat-tab>
    <mat-tab label="older JHipster or Webpack">
      <markdown ngPreserveWhitespaces src="assets/getting-started/jhipster.md"> </markdown>
    </mat-tab>
    <mat-tab label="Angular 2, 4, 5, and Ionic 3">
      <markdown ngPreserveWhitespaces src="assets/getting-started/angular-2-4-5.md"> </markdown>
    </mat-tab>
    <mat-tab label="Still got difficulties?">
      <markdown ngPreserveWhitespaces src="assets/getting-started/toubleshooting.md"> </markdown>
    </mat-tab>
    <mat-tab label="Complaints and bug reports">
      <markdown ngPreserveWhitespaces src="assets/getting-started/complaints.md"> </markdown>
    </mat-tab>

  </mat-tab-group>
  <markdown src="assets/getting-started/text2.md"></markdown>
</mat-card>
