<mat-card class="distance-16 mat-elevation-z8">
  <markdown src="assets/getting-started/text.md"> </markdown>
  <mat-tab-group>
    <mat-tab label="Angular CLI">
      <markdown ngPreserveWhitespaces src="assets/getting-started/cli.md"> </markdown>
    </mat-tab>
    <mat-tab label="JHipster or Webpack">
      <markdown ngPreserveWhitespaces src="assets/getting-started/jhipster.md"> </markdown>
    </mat-tab>
  </mat-tab-group>
  <markdown src="assets/getting-started/text2.md"></markdown>
</mat-card>
