<mat-card class="distance16 mat-elevation-z8" fxFlex="97%">
  <h2>Features you can customize</h2>
  <p>
    Version 2.0.0 of <code>&lt;ngx-extended-pdf-viewer&gt;</code> allows you to customize the toolbar and the menu of the PDF viewer.
    Previously, all you could do was to hide certain buttons and menu items. Now, you can also
  </p>
  <ul>
    <li>re-arrange the pre-defined items any way you like;</li>
    <li>replace existing items by custom items - including your own icons, texts, and tooltips;</li>
    <li>and add your own buttons, menu items, and even menus, implementing custom functions I can't even imagine.</li>
  </ul>

  <h2>But how to document this feature?</h2>
  <p>
    I'm afraid you can't avoid reading the sourcecode of the UI. You find it
    <a
      href="https://github.com/stephanrauh/ngx-extended-pdf-viewer/blob/main/projects/ngx-extended-pdf-viewer/src/lib/ngx-extended-pdf-viewer.component.html"
    >
      in the GitHub repository of <code>&lt;ngx-extended-pdf-viewer&gt;</code></a
    >.
  </p>
  <p>Nonetheless, I'm optimistic I can give you a head start with a couple of demos and a few hints:</p>
  <ul>
    <li>First of all, <a href="/custom-toolbar">this interactive demo</a> shows a few example implementations.</li>
    <li>
      The default UI naturally forms a tree. Below, you'll find a high-level abstraction of this tree. Your customization doesn't have to
      follow this structure. It's just the default.
    </li>
    <li>The customization hooks defined by <code>&lt;ngx-extended-pdf-viewer&gt;</code> allow you to modify certain subtrees. Currently there are nine hooks:
    <ul>
      <li><code>[customToolbar]</code> allows you to modify the entire black bar above the PDF document.</li>
      <li><code>[customFreeFloatingBar]</code> allows you to add your own toolbar. The original use-case is a toolbar floating above the PDF file. But if you're familiar with CSS magic, you're probably not limited to that.</li>
      <li><code>[customSecondaryToolbar]</code> represents the menu at the right-hand side of the PDF viewer.</li>
      <li><code>[customFindbar]</code> allows you to define your own findbar.</li>
      <li><code>[customFindbarButtons]</code> allows you to modify the entire find bar (the black bar that's shown after typing <code>CTRL+F</code>).</li>
      <li><code>[customFindbarInputArea]</code> is responsible for a small part of the find bar: the input field and the previous/next buttons.</li>
      <li><code>[customSidebar]</code> defines your own sidebar. See <a href="/extended-pdf-viewer/custom-sidebar">the custom sidebar demo.</a> </li>
      <li><code>[customThumbnail]</code> See <a href="/extended-pdf-viewer/custom-thumbnails">the custom thumbnails demo.</a></li>
      <li><code>[customPdfViewer]</code> is your door to modify everything except the CSS imports.</li>
    </ul>
    </li>
    <li>
      The underlying PDF framework, pdf.js, recognizes the buttons and menu items by their <code>id</code>. If you want to modify an
      existing functionality, keep in mind you have to provide the id. Otherwise, pdf.js will raise and exception.
    </li>
    <li>
      I'm sure there's a lot of headroom for improvements. Don't hesitate to report any shortcoming on
      <a href="https://github.com/stephanrauh/ngx-extended-pdf-viewer/issues">the bugtracker of ngx-extended-pdf-viewer</a>.
    </li>
  </ul>

  <h2>Toolbar</h2>
  <p>The toolbar is the black bar containing the buttons above the PDF file.</p>
  <app-tree [treeData]="toolbar"></app-tree>

  <h2>Findbar</h2>
  <p>The findbar becomes visible after hitting <code>CTRL+F</code>.</p>
  <app-tree [treeData]="findbar"></app-tree>

  <h2>Secondary menu</h2>
  <p>The secondary toolbar is the menu that opens on the right-hand side. It contains many buttons
    of the primary toolbar. On small displays, widgets are shifted from the primary toolbar to the
    secondary toolbar until the primary toolbar fits on the screen. Similarly, when the window size
    gets larger, many items are shifted from the secondary toolbar to the primary toolbar.
  </p>
  <app-tree [treeData]="secondaryToolbar"></app-tree>
</mat-card>
