<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between">
  <mat-card class="distance16 mat-elevation-z8" fxFlex="40%">
    <mat-tab-group>
      <mat-tab label="Getting started">
        <p>By default, the PDF file is displayed with 100% zoom. The PDF viewer uses 100% of the width of its
          container. If the container is wider than the PDF file, the PDF viewer is centered horizontally.
        </p>
        <mat-form-field>
          <input matInput class="margin" type="number" [(ngModel)]="page" placeholder="Current page number" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput class="margin" type="number" [(ngModel)]="rotation" placeholder="Rotation (0, 90, 180, 270 degrees)" />
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Text layer">
        <p>Activating the text layer slows down rendering slightly, but enables the user to mark text.
          Note that this doesn't work with every PDF file: many PDF files are actually simply a collection of images
          (even though the may display text), so it's not possible to mark text.
        </p>
        <mat-checkbox class="margin" [(ngModel)]="renderText">render-text</mat-checkbox>

      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="distance16 mat-elevation-z8 progress" fxFlex="58%">
    <mat-tab-group>
      <mat-tab label="HTML template">
        <app-ie11-markdown ngPreserveWhitespaces src="/assets/ng2-pdf-viewer/ng2-simple/html.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="Typescript">
        <app-ie11-markdown ngPreserveWhitespaces src="/assets/ng2-pdf-viewer/ng2-simple/ts.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="distance16 mat-elevation-z8 use-available-height" style="height:53vh">

  <app-copyright-box
    source="https://beyondjava.net/graalvm-dictionary-bytecode-c1-c2-compiler"
    sourceShort="BeyondJava.net"
    author="Stephan Rauh"
    licence="Creative Commons (CC BY-NC-ND 3.0 DE)"
    licenceLink="https://creativecommons.org/licenses/by-nc-nd/3.0/de/">
  </app-copyright-box>

  <pdf-viewer [src]="'/assets/pdfs/GraalVM Dictionary Bytecode, Interpreters, C1 Compiler, C2 Compiler, CPUs, and More.pdf'"
              [render-text]="renderText"
              [(page)]="page"
              [show-all]="false"
              [rotation]="rotation"
              [zoom]="0.9"
              style="width: 100%; height: 100%"
              >
  </pdf-viewer>
</mat-card>
</div>
