<div class="flex-container-column fill-container">
  <div class="flex-container-row"  *ngIf="!fullscreen">
  <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:50%">
    <mat-tab-group>
     <mat-tab label="Doubleclick">
      <p>The double-tap (or double-click) gesture enlarges the PDF file. By default, the target zoom is "page-width". You can define a
        different target zoom by setting <code>pdfDefaultOptions.doubleTapZoomFactor</code>. In this demo, that's 125%.
      </p>
      </mat-tab>


      </mat-tab-group>

  </mat-card>

  <mat-card appearance="outlined" class="distance16 mat-elevation-z8" style="flex: 1 1 100%; box-sizing: border-box; max-width:48%;">
    <mat-tab-group>
      <mat-tab label="HTML template">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/touch-gestures/html.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="TypeScript">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/touch-gestures/ts.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
  <button mat-button (click)="fullscreen=!fullscreen" style="display:none;float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
  <ngx-extended-pdf-viewer
    [src]="'/assets/pdfs/fancy.pdf'"
    [mobileFriendlyZoom]="'150%'"
    [zoomLevels]="zoomLevels"
    [minZoom]="0.5"
    [maxZoom]="1.5"
    [minifiedJSLibraries]="!isLocalhost"
  >
  </ngx-extended-pdf-viewer>
  <div id="debug-info"></div>
  <p style="height:600px">&nbsp;</p>
</mat-card>
</div>
