<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:40%;">
        <p>You can customize both the sidebar. The only disadvantage is you have to set the
          `top` position yourself. If you're offering an optional mobile-frieny large toolbar,
          the `top` position of custom sidebars is not adjusted automatically.
        </p>
        <mat-radio-group aria-label="Demo" [(ngModel)]="theme" style="line-height: 1.5;">
          <mat-radio-button value="default">sidebar with standard layout</mat-radio-button>
          <br />
          <mat-radio-button value="without">sidebar without toolbar</mat-radio-button>
          <br />
          <mat-radio-button value="fancy">fancy layout</mat-radio-button>
        </mat-radio-group>
        <br />
        <p>The attribute <code>[(sidebarVisible)]</code> supports two-way binding. It's updated when the user opens or hide the sidebar.</p>
        <mat-checkbox [(ngModel)]="sidebarOpen">show sidebar</mat-checkbox>
      </mat-card>
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 progress" style="flex: 1 1 100%; box-sizing: border-box; max-width:58%;">
        <mat-tab-group>
          <mat-tab label="HTML template">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-sidebar/html.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="no toolbar">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-sidebar/without-toolbar.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="fancy sidebar">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/custom-sidebar/fancy-sidebar.md"> </app-ie11-markdown>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  }

  <mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!(fullscreenService.isFullscreen$ | async)">
    <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 8px;">
      <div>
        <app-copyright [src]="'/assets/pdfs/stluciadance.com.pdf'"></app-copyright>
      </div>
      <app-fullscreen-button style="flex-shrink: 0; margin-left: 16px;"></app-fullscreen-button>
    </div>
    @if (showPdfViewer) {
      <ngx-extended-pdf-viewer
        [src]="'/assets/pdfs/stluciadance.com.pdf'"
        [customSidebar]="theme==='fancy' ? fancySidebar: theme === 'without'? withoutSidebar: undefined"
        [(sidebarVisible)]="sidebarOpen"
        [textLayer]="true"
        [showHandToolButton]="true"
        >
      </ngx-extended-pdf-viewer>
    }
  </mat-card>
</div>

<ng-template #withoutSidebar>
  <div id="sidebarContainer" style="top:-1px">
    <pdf-sidebar-content></pdf-sidebar-content>
    <div id="sidebarResizer" class="hidden"></div>
  </div>
</ng-template>

<ng-template #fancySidebar>
  <div id="sidebarContainer" style="top:31px;background-color:goldenrod">
    <div id="additionalSidebarContainer">
      <div id="toolbarSidebar">
        <button style="background-color: red; height:100%;width: 34%;border:0;margin:0;padding:0"
          type="button" id="viewThumbnail"
          class="toolbarButton"
          data-l10n-id="thumbs">
          <span data-l10n-id="thumbs_label">Thumbnails</span>
        </button>
        <button
          style="background-color: green; height:100%;width: 35%;border:0;margin:0;padding:0"
          type="button"
          id="viewOutline"
          class="toolbarButton"
          data-l10n-id="document_outline">
          <span data-l10n-id="document_outline_label">Document Outline</span>
        </button>
        <button
          style="background-color: blue; height:100%;width: 34%;border:0;margin:0;padding:0"
          type="button"
          id="viewAttachments"
          class="toolbarButton"
          data-l10n-id="attachments">
          <span data-l10n-id="attachments_label">Attachments</span>
        </button>
      </div>
    </div>
    <pdf-sidebar-content></pdf-sidebar-content>
    <div id="sidebarResizer" class="hidden"></div>
  </div>
</ng-template>
