.narrow {
  width: 30%;
}
.padding {
  padding-left: 2em;
  padding-right: 2em;
}

.no-padding {
  margin-top: -1em;
  margin-bottom: -1.25em;
}

::ng-deep ngx-extended-pdf-viewer div.textLayer > span > .highlight {
  background-color: red;
  opacity: 0.2;
}

.padding-top {
  padding-top: 0.5em;
}

.compact {
  height: 30px;
}

small {
  font-size: 10px;
}

.column-header {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #eff5fa;
  border-radius: 4px;
}

