.thumbnail-radiobutton {
  top: -76px;
  right: 10px;
  position: relative;
}

.thumbnailSelectionRing {
  display: contents;
  background-color: blue;
}

.thumbnail-text {
  position: relative;
  top: 25px;
  left: 50px;
  transform: rotate(-45deg);
  z-index: 1;
  color: black;
  display:none;
}
