<mat-toolbar>About</mat-toolbar>
<mat-nav-list>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'intro'">What is ngx-extended-pdf-viewer?</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'alternatives'">Alternatives</a>
</mat-nav-list>

<mat-toolbar>Documentation</mat-toolbar>
<mat-nav-list>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'getting-started'">Getting started</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'troubleshooting'">Troubleshooting</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'attributes'">Attributes and events</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'customization'">Customizing the menus</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'keycloak'">Keycloak</a>
  <a mat-list-item [href]="'pdfjs-versions'">Sneak preview pdf.js</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'options'">Default options</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'range-requests'">Range requests</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'changelog'">Changelog</a>
</mat-nav-list>

<mat-toolbar>Demos</mat-toolbar>
<mat-nav-list>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'simple'">Simple demo</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'prerendering'">Pre-rendering</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'two-way-binding'">Two-way binding</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'base64'">Base64 encoded files</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'blob'">BLOBs</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'book-mode'">Book mode</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'contextmenu'">Context menu</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'custom-print-dialog'">Custom print progress</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'print-range'">Print API / print range</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'custom-background'">Custom PDF background</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'hiding-buttons'">Customizing buttons</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'custom-toolbar'">Custom toolbars</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'custom-sidebar'">Custom sidebar</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'custom-thumbnails'">Custom thumbnails</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'display-options'">Display options</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'scripting'">enable / disable JavaScript</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'export'">Export text or image</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'pages-loaded'">Events</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'find'">Find programmatically</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'filtering-console-log'">Filtering console log</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'forms'">Forms</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'infinite-scroll'">Infinite scroll</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'keyboard'">Keyboard</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'layers'">Layers</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'links'">Links</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'i18n'">Internationalization</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'wheel'">Mouse wheel</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'navigation'">Navigation API</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'multiple-documents'">Loading & unloading PDFs + drag'n'drop</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'mobile'">Mobile devices</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'passwords'">Passwords</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'perfect-scrollbar'">Perfect scrollbar</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'presentations'">Presentations</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'file-info'">Reading metadata</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'smartphone'">Smartphones</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'page-view-mode'">Single-page mode</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'touch-gestures'">Touch gestures</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'textlayer'">Text layer</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'signatures'">Unverified signatures</a>
  <a mat-list-item (click)="toggleDrawer()" [routerLink]="'zoom'">Zoom</a>
  <p style="height: 5em">&nbsp;</p>
</mat-nav-list>
