<div class="card use-available-height" [class.mt-3]="!(fullscreenService.isFullscreen$ | async)">
  <div class="flex justify-between items-start mb-2">
    <div>
      @if (showNote && additionalNote) {
        <small>{{ additionalNote }}</small>
      }
      <app-copyright [src]="src"></app-copyright>
      <ng-content select="[slot=additional-info]"></ng-content>
    </div>
    <app-fullscreen-button class="flex-shrink-0 ml-4"></app-fullscreen-button>
  </div>
  
  <ng-content></ng-content>
</div>