<mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!(fullscreenService.isFullscreen$ | async)">
  <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 8px;">
    <div>
      @if (showNote && additionalNote) {
        <small>{{ additionalNote }}</small>
      }
      <app-copyright [src]="src"></app-copyright>
      <ng-content select="[slot=additional-info]"></ng-content>
    </div>
    <app-fullscreen-button style="flex-shrink: 0; margin-left: 16px;"></app-fullscreen-button>
  </div>
  
  <ng-content></ng-content>
</mat-card>