<div class="flex-container-column fill-container">
  <div class="flex-container-row">
    <div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 mt-1 margin-right flex-1 box-border max-w-[45%]">
              <div class="w-full">
          <!-- Tab buttons -->
          <div class="overflow-x-auto">
            <div class="flex space-x-2 w-max border-b border-gray-200 mb-2">
            <button
              class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
              [class.text-primary-600]="cspcomponentTab === 'gettingstarted'"
              [class.border-primary-600]="cspcomponentTab === 'gettingstarted'"
              [class.text-gray-500]="cspcomponentTab !== 'gettingstarted'"
              [class.border-transparent]="cspcomponentTab !== 'gettingstarted'"
              (click)="cspcomponentTab = 'gettingstarted'">
              Getting started
            </button>
          </div>
          </div>

          <!-- Tab content -->
          @if (cspcomponentTab === 'gettingstarted') {
          <div class="tab-content">
<p>
            The PDF viewer supports Content Security Policy (CSP) by default.
            However, if you don't need CSP, the PDF viewer can load the PDF file faster if you disable CSP. To be hones,
            at the moment the
            diffence is only a single request, but if the idea carries fruit, maybe there's more to come.
          </p>
          <p>
            You can observe the difference in the network tab of the developer tools of your browser. If "use inline
            scripts" is checked, the file
            <code>op-chaining-support.js</code> is not loaded from the server. If "use inline scripts" is unchecked, the
            file is loaded.
          </p>
          <label class="flex items-center space-x-2">
        <input type="checkbox" class="form-checkbox text-primary-600 margin" [(ngModel)]="useInlineScripts" />
        <span>use inline scripts</span>
      </label>
          </div>
          }
        </div>
    </div>
<div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 mt-1 flex-1 box-border max-w-[53%]">
              <div class="w-full">
          <!-- Tab buttons -->
          <div class="overflow-x-auto">
            <div class="flex space-x-2 w-max border-b border-gray-200 mb-2">
            <button
              class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
              [class.text-primary-600]="codeTab === 'htmltemplate'"
              [class.border-primary-600]="codeTab === 'htmltemplate'"
              [class.text-gray-500]="codeTab !== 'htmltemplate'"
              [class.border-transparent]="codeTab !== 'htmltemplate'"
              (click)="codeTab = 'htmltemplate'">
              HTML template
            </button>
          </div>
          </div>

          <!-- Tab content -->
          @if (codeTab === 'htmltemplate') {
          <div class="tab-content">
@if (useInlineScripts) {
          <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/csp/html.md"> </app-ie11-markdown>
          }
          @if (!useInlineScripts) {
          <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/csp/html2.md"> </app-ie11-markdown>
          }
          </div>
          }
        </div>
    </div>
  </div>

  <app-demo [src]="'/assets/pdfs/2404.00465v1.pdf'">
    <div class="w-full">
      <ngx-extended-pdf-viewer [src]="'./assets/pdfs/2404.00465v1.pdf'" [useInlineScripts]="useInlineScripts"
      [theme]="theme">
      </ngx-extended-pdf-viewer>
    </div>
  </app-demo>
</div>
