<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
  <div class="flex-container-row">
    <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right"
      style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%; box-sizing: border-box; max-width: 60%">
      <mat-tab-group>
        <mat-tab [label]="'Images'">
          <p>
            Adding images to a PDF file is a popular feature. While this is not possible with this library - it is a
            viewer, not an editor - you can do
            something similar. You add an an image to the annotation layer. In most cases, you won't see the difference.
          </p>
          <table style="background-color: transparent">
            <tbody>
              <tr>
                <td>
                  <button mat-raised-button color="primary" style="margin-right: 10px; height: 4em"
                    (click)="addImage({ bottom: '50%', right: '50%' })">
                    addImage({{ 'bottom: 50%; right: 50%' }})
                  </button>
                </td>
                <td>
                  <button mat-raised-button color="primary" style="height: 4em"
                    (click)="addImage({ left: '50%', bottom: '50%', rotation: 90 })">
                    addImage({{ 'left: 50%, bottom: 50%; rotation: 90' }})
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <button mat-raised-button color="primary" style="margin-right: 10px; height: 4em"
                    (click)="addImage({ right: '50%', top: '50%', rotation: 180 })">
                    addImage({{ 'right: 50%; top: 50%; rotation: 180' }})
                  </button>
                </td>
                <td>
                  <button mat-raised-button color="primary" style="height: 4em"
                    (click)="addImage({ left: '50%', top: '50%', rotation: 0 })">
                    addImage({{ 'left: 50%, top: 50%; rotation: 0' }})
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <button mat-raised-button color="primary" style="margin-right: 10px; height: 4em"
                    (click)="addImage({ right: '50px', top: '100px'})">
                    addImage({{ 'right: 50px, top: 100px }})
                  </button>
                </td>
                <td>
                  <button mat-raised-button color="primary" style="height: 4em"
                    (click)="addImage({ left: '250px', bottom: '350px' })">
                    addImage({{ 'left: 250px, bottom: 350px'}})
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab [label]="'Coordinates'">
          <p>The parameters <code>left</code>, <code>bottom</code>, <code>right</code>, and <code>top</code> can be:</p>
          <ul>
            <li>percentages (e.g. <code>left: '50%'</code>)</li>
            <li>pixels (e.g. <code>left: '100px'</code>)</li>
            <li>PDF coordinates (e.g. <code>left: 100</code>)</li>
          </ul>
          <p>If you omit a coordinate, it's put at the logical origin:</p>
          <ul>
            <li>omitting left amounts to <code>left: 0</code></li>
            <li>omitting bottom amounts to <code>bottom: 0</code></li>
            <li>omitting right amounts to <code>right: "100%"</code></li>
            <li>omitting top amounts to <code>top: "100%"</code></li>
          </ul>
          <p>Caveat: In Chrome, the calculation of the <code>bottom</code> coordinate appears to be off by a few pixels.
            This discrepancy seems to stem from a bug in the PDF rendering engine, resulting in a canvas that is larger
            than
            expected (at least in my demo documents). The bug also shows in the title page. This issue does not occur in
            Firefox.</p>
        </mat-tab>
        <mat-tab label="large files">
          <p>The PDF viewer renders pages lazily. If they aren't going to be used soon, the page is not rendered. If
            you've got a large file,
            a major part of the pages are just placeholders.
          </p>
          <p>This, in turn, means you can't add an annotation. If you want to add annotations to large files reliably,
            catch the event <code>(annotationLayerRendered)</code> and add the annotations in the event handler. Not
            that this event is triggered for every page individually. The event handler should add the annotations
            that belong to this particular page, but not to other pages.
          </p>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <mat-card appearance="outlined" class="distance16 mat-elevation-z8"
      style="flex: 1 1 100%; box-sizing: border-box; max-width: 38%">
      <mat-tab-group>
        <mat-tab label="HTML template">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/annotation-layer-api/html.md"> </app-ie11-markdown>
        </mat-tab>
        <mat-tab label="TypeScript">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/annotation-layer-api/ts.md"> </app-ie11-markdown>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  }

  <app-demo [src]="'./assets/pdfs/The Public Domain - Enclosing the Commons of the Mind.pdf'">
    <ngx-extended-pdf-viewer [src]="'./assets/pdfs/The Public Domain - Enclosing the Commons of the Mind.pdf'"
      (annotationEditorEvent)="onAnnotationEditorEvent($event)" [sidebarVisible]="true" [zoom]="'page-fit'" [page]="11">
    </ngx-extended-pdf-viewer>
  </app-demo>
</div>
