<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:48%;">
        <mat-tab-group>
          <mat-tab label="HTML template">
            You can listen to the events of the annotation editors (i.e. the highlight tool and adding images, drawing, and text). Note that many
            events are fired when commiting the annotation.
            <app-ie11-markdown src="/assets/extended-pdf-viewer/editor-events/html.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="TypeScript">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/editor-events/ts.md"> </app-ie11-markdown>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8" style="flex: 1 1 100%; box-sizing: border-box; max-width:50%">
        <mat-card-header>
          <b>Messages sent by the PDF</b>
          <button mat-icon-button (click)="messages = []" style="margin-top:-13px"><mat-icon>delete_forever</mat-icon></button>
        </mat-card-header>
        <mat-card-content>
          <div class="messages distance16">
            @if (!messages) {
              <div>
                No message yet. This means no document has been loaded yet.
              </div>
            }
            @for (m of messages; track m) {
              <div>{{ m }}</div>
            }
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  }

  <mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!(fullscreenService.isFullscreen$ | async)">
    <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 8px;">
      <div>
        <app-copyright [src]="'/assets/pdfs/Introduction.pdf'"></app-copyright>
      </div>
      <app-fullscreen-button style="flex-shrink: 0; margin-left: 16px;"></app-fullscreen-button>
    </div>
    <ngx-extended-pdf-viewer
      [height]="'90vh'"
      [page]="9"
      [showHandToolButton]="true"
      [src]="'/assets/pdfs/Introduction.pdf'"
      [textLayer]="true"
      (afterPrint)="onEvent('afterPrint', $event)"
      (annotationEditorEvent)="onEvent('annotationEditorEvent', $event)"
      >
    </ngx-extended-pdf-viewer>
  </mat-card>
</div>
