<div fxLayout="row" fxLayoutAlign="space-between">
  <mat-card class="distance-16 mat-elevation-z8" fxFlex="40%">
    <p>The PDF viewer accepts different types if input:</p>
    <ul>
      <li>[src]="url": files given by their URL</li>
      <li>[src]="UInt8array": files provided as an UInt8Array</li>
      <li>[base64src]="someLongString": files passed as a Base64 encoded string</li>
    </ul>
    <button mat-raised-button color="primary" (click)="toggle()">show another document</button>
  </mat-card>

  <mat-card class="distance-16 mat-elevation-z8" fxFlex="58%">
    <mat-tab-group>
      <mat-tab label="HTML template">
        <markdown ngPreserveWhitespaces src="assets/base64/html.md"> </markdown>
      </mat-tab>
      <mat-tab label="TypeScript">
        <markdown ngPreserveWhitespaces src="assets/base64/ts.md"> </markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="distance-16 mat-elevation-z8">
  <ngx-extended-pdf-viewer
    [base64Src]="base64"
    backgroundColor="#ffffff"
    [height]="'90vh'"
    [useBrowserLocale]="true"
    [handTool]="false"
    [showHandToolButton]="true"
  >
  </ngx-extended-pdf-viewer>
</mat-card>
