<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
  <mat-card class="distance16 mat-elevation-z8" fxFlex="45%">
    <p>
      To open a password protected file, you can either have the user type the password or you
      can pass the password programmatically.
    </p>
    <mat-radio-group aria-label="Password" [(ngModel)]="choice">
      <mat-radio-button [value]="undefined">[password]="undefined" (or just omit it) (forces the user to enter the password)</mat-radio-button>
      <mat-radio-button [value]="'graalvm-rocks!'">password="graalvm-rocks!" (correct password, the file opens)</mat-radio-button>
      <mat-radio-button [value]="'graalvm-sucks!'">password="graalvm-sucks!" (wrong password, standard password prompt shows)</mat-radio-button>
      <mat-radio-button [value]="'graalvm-sucks?'">password="graalvm-sucks?" (wrong password - custom password dialog shows)</mat-radio-button>
    </mat-radio-group>
    <p>You can also implement a custom password dialog and register it as a <code>pdfDefaultOption</code>. The
      dialog has to be a object implementing the interface <code>PasswordPrompt.</code> This demo implements a very simple custom
    password prompt: it simply uses the <code>confirm()</code> function.</p>
    </mat-card>
  <mat-card class="distance16 mat-elevation-z8 progress" fxFlex="53%">
      <mat-tab-group>
        <mat-tab label="HTML template">
         <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/passwords/html.md"> </app-ie11-markdown>
        </mat-tab>
        <mat-tab label="Typescript">
          <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/passwords/ts.md"> </app-ie11-markdown>
         </mat-tab>
         <mat-tab label="Custom passwort prompt">
          <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/passwords/custom.md"> </app-ie11-markdown>
         </mat-tab>
          </mat-tab-group>
  </mat-card>
</div>

<mat-card class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
  <button mat-button (click)="fullscreen=!fullscreen" style="float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
  <small
    >Copyright hint: this presentation is my own work</small
  >.
  <ngx-extended-pdf-viewer
    [src]="src"
    [password]="password"
    [minifiedJSLibraries]="!isLocalhost"
  >
  </ngx-extended-pdf-viewer>
</mat-card>
</div>
