.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-node .mat-icon-button {
  height: 24px;
  line-height: 24px;
}

.mat-tree-node {
  min-height: 24px;
}
