<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
  <mat-card class="distance16 mat-elevation-z8" fxFlex="40%">
    <p>
      A few options allow you to influence the way the PDF file is rendered.
    </p>
    <p>
      <mat-checkbox class="margin" [(ngModel)]="showBorders">[showBorders]="true"</mat-checkbox>
    </p>
    <mat-radio-group aria-label="ScrollMode" [(ngModel)]="scrollMode" style="line-height: 1.5;">
      <mat-radio-button [value]="0">vertical (default)</mat-radio-button>
      <br />
      <mat-radio-button [value]="1">horizontal</mat-radio-button>
      <br />
      <mat-radio-button [value]="2">wrapped</mat-radio-button>
      <br />
      <mat-radio-button [value]="3">singe-page view</mat-radio-button>
    </mat-radio-group>

  </mat-card>

  <mat-card class="distance16 mat-elevation-z8" fxFlex="58%">
    <mat-tab-group>
      <mat-tab label="HTML template">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/display-options/html.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="TypeScript">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/display-options/ts.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
  <button mat-button (click)="fullscreen=!fullscreen" style="float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
  <ngx-extended-pdf-viewer
    [src]="'/assets/pdfs/codpaste-teachingpack.pdf'"
    [showBorders]="showBorders"
    [(scrollMode)]="scrollMode"
    zoom="30%"
    [minifiedJSLibraries]="!isLocalhost"
  >
  </ngx-extended-pdf-viewer>
</mat-card>
</div>
