<mat-toolbar>About</mat-toolbar>
<mat-nav-list>
  <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'ng2-pdf-viewer/introduction'">What is ng2-pdf-viewer?</a>
  <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'ng2-pdf-viewer/alternatives'">Alternatives</a>
</mat-nav-list>

<mat-toolbar>Documentation</mat-toolbar>
<mat-nav-list>
  <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'ng2-pdf-viewer/getting-started'">Getting started</a>
  <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'ng2-pdf-viewer/attributes'">Attributes and events</a>

  <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'ng2-pdf-viewer/changelog'">Changelog</a>
</mat-nav-list>

<mat-toolbar>Demos</mat-toolbar>
<mat-nav-list>
  <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'ng2-pdf-viewer/simple'">Simple demo</a>
  <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'ng2-pdf-viewer/zoom'">Zoom</a>
  <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'ng2-pdf-viewer/show-all'">Infinite scroll</a>
  <a mat-list-item [routerLinkActive]="['is-active']" [routerLink]="'ng2-pdf-viewer/borders'">Borders</a>
  <p style="height: 5em">&nbsp;</p>
</mat-nav-list>
