<mat-card class="distance16 mat-elevation-z8">
  <app-ie11-markdown src="/assets/extended-pdf-viewer/getting-started/text.md"> </app-ie11-markdown>
  <mat-tab-group>
    <mat-tab label="Angular CLI">
      <app-ie11-markdown src="/assets/extended-pdf-viewer/getting-started/cli.md"> </app-ie11-markdown>
    </mat-tab>
    <mat-tab label="JHipster 6.6 + ngx-extended-pdf-viewer 2.0.0+">
      <app-ie11-markdown src="/assets/extended-pdf-viewer/getting-started/jhipster6.6.md"> </app-ie11-markdown>
    </mat-tab>
    <mat-tab label="older JHipster or Webpack">
      <app-ie11-markdown src="/assets/extended-pdf-viewer/getting-started/jhipster.md"> </app-ie11-markdown>
    </mat-tab>
    <mat-tab label="Angular 2, 4, 5, and Ionic 3">
      <app-ie11-markdown src="/assets/extended-pdf-viewer/getting-started/angular-2-4-5.md"> </app-ie11-markdown>
    </mat-tab>
    <mat-tab label="Still got difficulties?">
      <app-ie11-markdown src="/assets/extended-pdf-viewer/troubleshooting/text.md"> </app-ie11-markdown>
    </mat-tab>
    <mat-tab label="Complaints and bug reports">
      <app-ie11-markdown src="/assets/extended-pdf-viewer/getting-started/complaints.md"> </app-ie11-markdown>
    </mat-tab>

  </mat-tab-group>
  <app-ie11-markdown src="/assets/extended-pdf-viewer/getting-started/text2.md"></app-ie11-markdown>
</mat-card>
