<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 distance16 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:48%;">
        <div class="w-full">
        <!-- Tab buttons -->
        <div class="overflow-x-auto">
            <div class="flex space-x-2 w-max border-b border-gray-200 mb-2">
          <button
            class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
            [class.text-primary-600]="activeTab === 'html'"
            [class.border-primary-600]="activeTab === 'html'"
            [class.text-gray-500]="activeTab !== 'html'"
            [class.border-transparent]="activeTab !== 'html'"
            (click)="activeTab = 'html'">
            HTML template
          </button>
          <button
            class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
            [class.text-primary-600]="activeTab === 'typescript'"
            [class.border-primary-600]="activeTab === 'typescript'"
            [class.text-gray-500]="activeTab !== 'typescript'"
            [class.border-transparent]="activeTab !== 'typescript'"
            (click)="activeTab = 'typescript'">
            TypeScript
          </button>
        </div>
          </div>

        <!-- Tab content -->
        @if (activeTab === 'html') {
          <div class="tab-content">
<app-ie11-markdown src="/assets/extended-pdf-viewer/pages-loaded/html.md"> </app-ie11-markdown>
        </div>
          }
        @if (activeTab === 'typescript') {
          <div class="tab-content">
<app-ie11-markdown src="/assets/extended-pdf-viewer/pages-loaded/ts.md"> </app-ie11-markdown>
        </div>
          }
      </div>
      </div>
  <div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 distance16" style="flex: 1 1 100%; box-sizing: border-box; max-width:50%">
        <div class=" bg-white border border-gray-300 rounded-lg shadow-md p-6">
          <b>Messages sent by the PDF</b>
          <button mat-icon-button (click)="messages = []" style="margin-top:-13px"><span class="material-icons">delete_forever</span></button>
        </div>

          <div class="messages distance16">
            @if (!messages) {
              <div>
                No message yet. This means no document has been loaded yet.
              </div>
            }
            @for (m of messages; track m) {
              <div>{{ m }}</div>
            }
          </div>

      </div>
    </div>
  }

  <app-demo [src]="'/assets/pdfs/themes_de_la_Science-fiction.pdf'">
    <ngx-extended-pdf-viewer
      [height]="'90vh'"
      [page]="9"
      [showHandToolButton]="true"
      [src]="'/assets/pdfs/themes_de_la_Science-fiction.pdf'"
      [textLayer]="true"
      (afterPrint)="onEvent('afterPrint', $event)"
      (annotationEditorEvent)="onEvent('annotationEditorEvent', $event)"
      (annotationEditorLayerRendered)="onEvent('annotationEditorLayerRendered', $event)"
      (annotationEditorModeChanged)="onEvent('annotationEditorModeChanged', $event)"
      (annotationLayerRendered)="onEvent('annotationLayerRendered', $event)"
      (attachmentsloaded)="onEvent('attachmentsloaded', $event)"
      (beforePrint)="onEvent('beforePrint', $event)"
      (currentZoomFactor)="onEvent('currentZoomFactor', $event)"
      (findbarVisible)="onEvent('findbarVisible', $event)"
      (layersloaded)="onEvent('layersloaded', $event)"
      (outlineLoaded)="onEvent('outlineLoaded', $event)"
      (pageChange)="onEvent('pageChange', $event)"
      (pageRender)="onEvent('pageRender', $event)"
      (pageRendered)="onEvent('pageRendered', $event)"
      (pagesLoaded)="onPagesLoaded($event)"
      (pageViewModeChange)="onEvent('pageViewModeChange', $event)"
      (pdfDownloaded)="onEvent('pdfDownloaded', $event)"
      (pdfLoaded)="onEvent('pdfLoaded', $event)"
      (pdfLoadingFailed)="onPdfLoadingFailed($event)"
      (pdfLoadingStarts)="onEvent('pdfLoadingStarts', $event)"
      (progress)="onEvent('progress', $event)"
      (propertiesDialogVisible)="onEvent('propertiesDialogVisible', $event)"
      (thumbnailDrawn)="onEvent('thumbnailDrawn', $event)"
      (updateFindMatchesCount)="onEvent('updateFindMatchesCount', $event)"
      (updateFindState)="onEvent('updateFindState', $event)"
      (xfaLayerRendered)="onEvent('xfaLayerRendered', $event)"
      (zoomChange)="onEvent('zoomChange', $event)"
      (currentZoomFactor)="onEvent('currentZoomFactor', $event)"

      >
    </ngx-extended-pdf-viewer>
  </app-demo>
</div>
