<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:48%;">
        <mat-tab-group>
          <mat-tab label="HTML template">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/pages-loaded/html.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="TypeScript">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/pages-loaded/ts.md"> </app-ie11-markdown>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8" style="flex: 1 1 100%; box-sizing: border-box; max-width:50%">
        <mat-card-header>
          <b>Messages sent by the PDF</b>
          <button mat-icon-button (click)="messages = []" style="margin-top:-13px"><mat-icon>delete_forever</mat-icon></button>
        </mat-card-header>
        <mat-card-content>
          <div class="messages distance16">
            @if (!messages) {
              <div>
                No message yet. This means no document has been loaded yet.
              </div>
            }
            @for (m of messages; track m) {
              <div>{{ m }}</div>
            }
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  }

  <mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!(fullscreenService.isFullscreen$ | async)">
    <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 8px;">
      <div>
        <small>Copyright hint: the PDF file has been published on <a href="https://commons.wikimedia.org/wiki/File:Organigramme_simplifi%C3%A9_des_th%C3%A8mes_de_la_Science-fiction.pdf">Wikimedia</a> by the anonymous user Paroliver
    under an <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a> license, as stated <a href="https://commons.wikimedia.org/wiki/File:Organigramme_simplifi%C3%A9_des_th%C3%A8mes_de_la_Science-fiction.pdf">here</a>.</small>
      </div>
      <app-fullscreen-button style="flex-shrink: 0; margin-left: 16px;"></app-fullscreen-button>
    </div>
    <ngx-extended-pdf-viewer
      [height]="'90vh'"
      [page]="9"
      [showHandToolButton]="true"
      [src]="'/assets/pdfs/themes_de_la_Science-fiction.pdf'"
      [textLayer]="true"
      (afterPrint)="onEvent('afterPrint', $event)"
      (annotationEditorEvent)="onEvent('annotationEditorEvent', $event)"
      (annotationEditorLayerRendered)="onEvent('annotationEditorLayerRendered', $event)"
      (annotationEditorModeChanged)="onEvent('annotationEditorModeChanged', $event)"
      (annotationLayerRendered)="onEvent('annotationLayerRendered', $event)"
      (attachmentsloaded)="onEvent('attachmentsloaded', $event)"
      (beforePrint)="onEvent('beforePrint', $event)"
      (currentZoomFactor)="onEvent('currentZoomFactor', $event)"
      (findbarVisible)="onEvent('findbarVisible', $event)"
      (layersloaded)="onEvent('layersloaded', $event)"
      (outlineLoaded)="onEvent('outlineLoaded', $event)"
      (pageChange)="onEvent('pageChange', $event)"
      (pageRender)="onEvent('pageRender', $event)"
      (pageRendered)="onEvent('pageRendered', $event)"
      (pagesLoaded)="onPagesLoaded($event)"
      (pageViewModeChange)="onEvent('pageViewModeChange', $event)"
      (pdfDownloaded)="onEvent('pdfDownloaded', $event)"
      (pdfLoaded)="onEvent('pdfLoaded', $event)"
      (pdfLoadingFailed)="onPdfLoadingFailed($event)"
      (pdfLoadingStarts)="onEvent('pdfLoadingStarts', $event)"
      (progress)="onEvent('progress', $event)"
      (propertiesDialogVisible)="onEvent('propertiesDialogVisible', $event)"
      (thumbnailDrawn)="onEvent('thumbnailDrawn', $event)"
      (updateFindMatchesCount)="onEvent('updateFindMatchesCount', $event)"
      (updateFindState)="onEvent('updateFindState', $event)"
      (xfaLayerRendered)="onEvent('xfaLayerRendered', $event)"
      (zoomChange)="onEvent('zoomChange', $event)"
      (currentZoomFactor)="onEvent('currentZoomFactor', $event)"

      >
    </ngx-extended-pdf-viewer>
  </mat-card>
</div>
