<div fxLayout="row" fxLayoutAlign="space-between">
  <mat-card class="distance-16 mat-elevation-z8" fxFlex="40%">
    <mat-tab-group>
      <mat-tab label="Signatures without verification">
        <p><b>Using this feature is dangerous!</b>
        </p>
        <p>
          PDF forms can bear a digital signature. Such a signature confirms that the PDF that
          it's been created by the author (and not someone else).
        </p>
        <p>
          However, ngx-extended-pdf-viewer <b>does not verify the validity</b> of the signature.
          One of the test files has an invalid signature. The signature is displayed without
          any hint it's faulty. So use this feature carefully! Do not show the
          signature unless you're 100% sure it's valid. Otherwise, users may draw wrong conclusions.
        </p>
        <p>To activate signatures, you must set the attribute <code>showUnverifiedSignatures</code>.
        You'll also have to deactivate form rendering in the default options.</p>
        <mat-checkbox class="margin" [(ngModel)]="showSignature">show signature</mat-checkbox>
      </mat-tab>
      <mat-tab label="Unverified signatures and forms">
        <p>
          The base library, pdf.js, has deliberately deactivated support for signature.
          The teams considers it a misleading and dangerous feature as long as the
          signature can't be verified. As a side
          effect, signatures aren't display when forms rendering is active. So you have
          deactivate form rendering.
        </p>
        <p>If you need both signatures and forms, you can render the form yourself.
          as <a href="https://medium.com/factory-mind/angular-pdf-forms-fa72b15c3fbd">Jonny Fox</a>
          shows, that's surprisingly simple.
        </p>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="distance-16 mat-elevation-z8 progress" fxFlex="58%">
      <mat-tab-group>
        <mat-tab label="HTML template">
          <app-ie11-markdown ngPreserveWhitespaces src="assets/signatures/html.md"> </app-ie11-markdown>
        </mat-tab>
      <mat-tab label="Typescript">
        <app-ie11-markdown ngPreserveWhitespaces src="assets/signatures/ts.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="distance-16 mat-elevation-z8">
  <small
    >Copyright hint: the PDF file is published
    <a href="https://github.com/stephanrauh/ngx-extended-pdf-viewer/issues/514#issuecomment-720089147" target="#">with kind permission by Cristiano Rafael Steffens</a>.
  </small>
  <ngx-extended-pdf-viewer
    *ngIf="showPdf"
    [src]="'assets/pdfs/unverified-signature.pdf'"
    [height]="'90vh'"
    [useBrowserLocale]="true"
    [showUnverifiedSignatures]="showSignature"
  >
  </ngx-extended-pdf-viewer>
</mat-card>
