<div class="flex-container-column fill-container">
  <div class="flex-container-row"  *ngIf="!fullscreen">
    <mat-card appearance="outlined" class="distance16 mat-elevation-z8" style="flex: 1 1 100%; box-sizing: border-box; max-width:40%;">
      <p>
        You can export the PDF as a Blob, including filled fields and drawings, texts, images, and highlights added by the user.
      </p>
       <button mat-raised-button color="primary" (click)="getCurrentDocumentAsBlob()" style="margin-left: 16px">Export the PDF file</button>
    </mat-card>
    <mat-card appearance="outlined" class="distance16 mat-elevation-z8 progress" style="flex: 1 1 100%; box-sizing: border-box; max-width:58%;">
      <mat-tab-group [selectedIndex]="selectedTabIndex">
        <mat-tab label="HTML template">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/export-file/html.md"> </app-ie11-markdown>
        </mat-tab>
        <mat-tab label="TypeScript">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/export-file/ts.md"> </app-ie11-markdown>
        </mat-tab>
        <mat-tab label="extracted file">
          <div class="distance16">
            <div *ngIf="blob">
              <p>Blob type: {{blob.type}}</p>
              <p>Blob size: {{blob.size}}</p>
            </div>
            <div *ngIf="!blob">no file downloaded yet</div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  <mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
    <button mat-button (click)="fullscreen = !fullscreen" style="display:none; float: right; height: 24px; line-height: 24px; min-width: 24px; padding: 0; margin-top: -4px">
      <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
      </svg>
    </button>
    <ngx-extended-pdf-viewer
      [src]="'/assets/pdfs/OoPdfFormExample.pdf'"
      [height]="'90vh'"
      [textLayer]="true"
      [showHandToolButton]="true"
      [handTool]="false"
      [minifiedJSLibraries]="!isLocalhost"
    >
    </ngx-extended-pdf-viewer>
  </mat-card>
</div>
