@if (!(fullscreenService.isFullscreen$ | async)) {
<div class="flex-container-row">
  <mat-card appearance="outlined" class="overflow-none distance16 mat-elevation-z8 margin-right"
    style="flex: 1 1 100%; box-sizing: border-box; max-width:50%">
    <mat-tab-group>
      <mat-tab label="About the bleeding edge branch">
        <p>
          ngx-extended-pdf-viewer ships with two versions of pdf.js:
          </p>
          <ul>
            <li>The <code>assets</code> folder contains the latest release of pdf.js.</li>
            <li>The <code>bleeding-edge</code> folder contains a developer build of pdf.js. That code is newer
              than the latest release, but it's not an officially supported version, so it's primarily there for testing
              purposes.
            </li>
          </ul>
          You can switch to the newer either by modifying the <code>angular.json</code> or
          by setting <code>pdfDefaultOptions.assetsFolder</code>.
      </mat-tab>
      <mat-tab label="Non-standard folder layouts">
        <p>The option <code>pdfDefaultOptions.assetsFolder</code> also allows to use use a non-standard project directory layout.
        If you want to put the pdf.js assets in a different folder, <code>pdfDefaultOptions.assetsFolder</code> is your friend.</p>
      </mat-tab>
      <mat-tab label="live update (not supported)">
        <p>Note that it's not possible to change the pdf.js engine at runtime. You need to set it
          before <code>&lt;ngx-extended-pdf-viewer/&gt;</code> is loaded. This demo uses the
          "bleeding edge" version of pdf.js after a full-page reload (i.e. after hitting the F5 key).
        </p>
      </mat-tab>
    </mat-tab-group>


  </mat-card>
  <mat-card appearance="outlined" class="overflow-y-scroll distance16 mat-elevation-z8 progress"
    style="flex: 1 1 100%; box-sizing: border-box; max-width:49%">
    <mat-tab-group>
      <mat-tab label="TypeScript">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/pdfjs-versions/ts.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="HTML template">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/pdfjs-versions/html.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="angular.json">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/pdfjs-versions/angular.json.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
}

<mat-card appearance="outlined" class="pdf-card distance16 mat-elevation-z8">
  <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 8px;">
    <div>
      <app-copyright [src]="'/assets/pdfs/BootsFaces_Deep_Dive_1.0.pdf'"></app-copyright>
    </div>
    <app-fullscreen-button style="flex-shrink: 0; margin-left: 16px;"></app-fullscreen-button>
  </div>
  <ngx-extended-pdf-viewer [src]="'/assets/pdfs/BootsFaces_Deep_Dive_1.0.pdf'" height="calc(100vh - 435px)" zoom="50%">
  </ngx-extended-pdf-viewer>
</mat-card>
