<div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
    <mat-card class="overflow-none distance16 mat-elevation-z8" fxFlex="100%">
      <div fxLayout="column" fxLayoutGap="10px">
        Most versions of ngx-extended-pdf-viewer ship with two versions of pdf.js:
        <ul>
          <li>The <code>assets</code> folder contains the latest release of pdf.js.</li>
          <li>The <code>bleeding-edge</code> folder contains a developer build of pdf.js. That code is newer
          than the latest release, but it's not an officially supported version, so it's primarily there for testing purposes.
        </li>
        </ul>
        However, version 18 only offers the stable branch 3.10 of my branch of pdf.js. I've removed the bleeding edge branch because I've already started publishing
        preview versions of version 19, which features pdf.js 4.0.
      </div>

    </mat-card>

   </div>

