<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
    <mat-card class="distance16 mat-elevation-z8" fxFlex="60%">
      <mat-tab-group (selectedTabChange)="onSelectTab($event)">
        <mat-tab label="Light theme">
          <p>
            You can theme the PDF viewer and - to a limited extent - also the how forms are displayed in a PDF files. However, most PDF document define how the
            form is displayed. ngx-extended-pdf-viewer does not overwrite the rules defined by the PDF author.
          </p>
          <p>Currently, the demo doesn't switch themes as reliable as it should. Consider it a preview.</p>
        </mat-tab>
        <mat-tab label="Light theme / dark forms">
          <p>
            You can theme the PDF viewer and - to a limited extent - also the how forms are displayed in a PDF files. However, most PDF document define how the
            form is displayed. ngx-extended-pdf-viewer does not overwrite the rules defined by the PDF author.
          </p>
          <p>Currently, the demo doesn't switch themes as reliable as it should. Consider it a preview.</p>
        </mat-tab>
        <mat-tab label="Dark theme">
          <p>
            You can theme the PDF viewer and - to a limited extent - also the how forms are displayed in a PDF files. However, most PDF document define how the
            form is displayed. ngx-extended-pdf-viewer does not overwrite the rules defined by the PDF author.
          </p>
          <p>
            That's why the input fields of the live demo have a light background. That's hard-coded in the PDF file.
          </p>
          <p>Currently, the demo doesn't switch themes as reliable as it should. Consider it a preview.</p>
        </mat-tab>
        <mat-tab label="Dark theme / dark forms">
          <p>
            You can theme the PDF viewer and - to a limited extent - also the how forms are displayed in a PDF files. However, most PDF document define how the
            form is displayed. ngx-extended-pdf-viewer does not overwrite the rules defined by the PDF author.
          </p>
          <p>
            That's why the input fields of the live demo have a light background. That's hard-coded in the PDF file.
          </p>
          <p>Currently, the demo doesn't switch themes as reliable as it should. Consider it a preview.</p>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <mat-card class="distance16 mat-elevation-z8 progress" fxFlex="38%">
      <mat-tab-group>
        <mat-tab label="HTML template">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/theming/html.md"> </app-ie11-markdown>
        </mat-tab>
        <mat-tab label="Typescript">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/theming/ts.md"> </app-ie11-markdown>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  <mat-card class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
    <button mat-button (click)="fullscreen = !fullscreen" style="float: right; height: 24px; line-height: 24px; min-width: 24px; padding: 0; margin-top: -4px">
      <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
      </svg>
    </button>
  </mat-card>
</div>
