<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:60%;">
        <mat-tab-group (selectedTabChange)="onSelectTab($event)">
          <mat-tab label="Light theme">
            <p>
              You can theme the PDF viewer and - to a limited extent - also the how forms are displayed in a PDF files. However, most PDF documents define how the
              form is displayed. ngx-extended-pdf-viewer does not overwrite the CSS rules defined by the PDF author.
            </p>
          </mat-tab>
          <mat-tab label="Dark theme">
            <p>
              ngx-extended-pdf-viewer ships with a light theme and a dark theme. Plus, you can define a custom theme.
            </p>
            <p>
              Note that there's no theming for forms. I've defined the demo PDF below with a dark background to make
              it fit nicely with the demo, but the checkboxes are invisible because they still use the default
              color theme. For the same reason, the input fields have a light background. Theming only changes
              the appearance of the PDF viewer. It does not change the way PDF files are rendered.
            </p>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 progress" style="flex: 1 1 100%; box-sizing: border-box; max-width:38%">
        <mat-tab-group>
          <mat-tab label="HTML template">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/theming/html.md"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="Typescript">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/theming/ts.md"> </app-ie11-markdown>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  }

  <mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!(fullscreenService.isFullscreen$ | async)">
    <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 8px;">
      <div>
        <small>Copyright hint: the PDF file is published with kind permission by the author.</small>
      </div>
      <app-fullscreen-button style="flex-shrink: 0; margin-left: 16px;"></app-fullscreen-button>
    </div>
    <ngx-extended-pdf-viewer [src]="src" [theme]="theme"
      [backgroundColor]="backgroundColor" >
    </ngx-extended-pdf-viewer>
  </mat-card>
</div>
