::ng-deep button#printButton,
::ng-deep button#printButton * {
  display: block !important;
}

::ng-deep button#download,
::ng-deep button#download * {
  display: block !important;
}

::ng-deep #toolbarViewerMiddle {
  display: none;
}

/* Force the PDF viewer to fill the screen height */
::ng-deep .screen ngx-extended-pdf-viewer {
  height: 100% !important;
}

::ng-deep .screen ngx-extended-pdf-viewer .zoom {
  height: 100% !important;
}

::ng-deep .screen ngx-extended-pdf-viewer #outerContainer {
  height: 100% !important;
}

::ng-deep .screen ngx-extended-pdf-viewer #mainContainer {
  height: 100% !important;
}

::ng-deep .screen ngx-extended-pdf-viewer #viewerContainer {
  height: 100% !important;
}

.mat-mdc-radio-button {
  padding-top: 5px;
  display: block;
}

.distance-top {
  padding-top: 8px;
}
