@use 'perfect-scrollbar/css/perfect-scrollbar.css';
@use "@fontsource/roboto/300.css" as roboto300;
@use "@fontsource/roboto/400.css" as roboto400;
@use "@fontsource/roboto/500.css" as roboto500;
@use "@fontsource/material-icons/index.css" ;
@use '@material-design-icons/font';

.mat-mdc-radio-button .mdc-radio  {
  --mdc-radio-state-layer-size: 30px !important;
}

.mat-mdc-radio-touch-target {
  height: 32px !important;
}

.mat-mdc-checkbox-touch-target {
  height: 32px !important;
}

.mat-mdc-card {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.mat-mdc-tab-header {
  --mat-tab-header-label-text-tracking: 0;
}

.mat-mdc-list-base {
    --mdc-list-list-item-label-text-tracking: 0;
    --mdc-list-list-item-trailing-supporting-text-tracking: 0;
}

.mat-mdc-radio-button .mdc-form-field,
.mat-mdc-checkbox .mdc-form-field {
  color: #000000f8;
  font-size: 16px;
}

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: calc(100% - 112px);
}

.use-available-height {
  flex: auto;
  margin-bottom: 8px;
}

.distance16 {
  margin-top: 16px !important;
}

.messages {
  margin-left: 32px;
}

table {
  background-color: #d8d8d8;
}

td,
th {
  background-color: white;
}

code {
  font-size: 16px;
}

mat-sidenav.mat-drawer {
  overflow-y: hidden;
}

body > app-root > app-nav > .mat-toolbar-single-row {
  height: 64px !important;
  padding-top: 0 !important;
}

.mat-nested-tree-node > li {
  display: contents;
}

.mat-nested-tree-node ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-tab-group, .mat-tab-body-wrapper {
  height: 100%;
}

.mat-mdc-list-base a.mat-mdc-list-item {
  font-size: 15px;
  height: 36px;
}

dt,
dd {
  box-sizing: border-box;
  padding: 10px;
}
dd ~ dt,
dd ~ dd {
  border-top: 1px solid #bdc8ca;
}
dt {
  float: left;
  width: 35%;
  padding-bottom: 0;
  font-size: 110%;
}
dd {
  margin-left: 35%;
  border-left: 1px dotted #bdc8ca;
  background-color: #fff;
}
dd:after {
  content: '';
  display: block;
  clear: both;
}

.ngx-extended-pdf-viewer-prevent-touch-move .mat-drawer-content {
  touch-action: none;
}

.fill-container {
  width: 100%;
  height: 100%;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.margin-right {
  margin-right: 10px;
}

html {
  --mdc-checkbox-state-layer-size: 23px;
}

.mat-mdc-list-base {

  --mdc-list-list-item-one-line-container-height: 32px;
}
