/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.distance-16 {
  margin-top: 16px !important;
}

.messages {
  margin-left: 32px;
}
