@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "~@fontsource/roboto/300.css";
@import "~@fontsource/roboto/400.css";
@import "~@fontsource/roboto/500.css";
@import "~@fontsource/material-icons/index.css";

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: calc(100% - 112px);
}

.use-available-height {
  flex: auto;
  margin-bottom: 8px;
}

.distance16 {
  margin-top: 16px !important;
}

.messages {
  margin-left: 32px;
}

table {
  background-color: #d8d8d8;
}

td,
th {
  background-color: white;
}

code {
  font-size: 16px;
}

.mat-drawer-inner-container {
  margin-top: 64px;
  margin-bottom: -64px;
}

mat-sidenav.mat-drawer {
  overflow-y: hidden;
}

body > app-root > app-nav > .mat-toolbar-single-row {
  height: 64px !important;
  padding-top: 0 !important;
}

.mat-nested-tree-node > li {
  display: contents;
}

.mat-nested-tree-node ul {
  margin-top: 0;
  margin-bottom: 0;
}

mat-tab-group, .mat-tab-body-wrapper {
  height: 100%;
}

.mat-list-base a.mat-list-item {
  font-size: 15px;
  height: 36px;
}

dt,
dd {
  box-sizing: border-box;
  padding: 10px;
}
dd ~ dt,
dd ~ dd {
  border-top: 1px solid #bdc8ca;
}
dt {
  float: left;
  width: 35%;
  padding-bottom: 0;
  font-size: 110%;
}
dd {
  margin-left: 35%;
  border-left: 1px dotted #bdc8ca;
  background-color: #fff;
}
dd:after {
  content: '';
  display: block;
  clear: both;
}

