<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
    <mat-card class="distance16 mat-elevation-z8" fxFlex="40%">
      The attribute <code>[namedDest]</code> allows you to navigate to a "name destination" of the PDF file.
      <section class="section" style="margin-top: 5px; margin-bottom: 10px">
        <button mat-raised-button color="primary" (click)="page = 5">[page]="5"</button>
        <button mat-raised-button color="primary" (click)="namedDest = 'section.10'" style="margin-left: 10px">[nameDest]="section.10"</button>
      </section>
    </mat-card>

    <mat-card class="distance16 mat-elevation-z8" fxFlex="58%">
      <mat-tab-group>
        <mat-tab label="HTML template">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/navigation/html.md"> </app-ie11-markdown>
        </mat-tab>
        <mat-tab label="TypeScript">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/navigation/ts.md"> </app-ie11-markdown>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  <mat-card class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
    <button mat-button (click)="fullscreen = !fullscreen" style="float: right; height: 24px; line-height: 24px; min-width: 24px; padding: 0; margin-top: -4px">
      <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
      </svg>
    </button>
    <small>
      Copyright hint: the e-book has been published under a
      <a target="#" href="https://www.latex-project.org/lppl/lppl-1-3c/">LATEX Project Public License, version 1.3c or later.</a> on
      <a target="#" href="https://www.thepublicdomain.org/enclosing-the-commons-of-the-mind/">https://github.com/latex3/hyperref</a>
    </small>
    <ngx-extended-pdf-viewer
      [src]="'./assets/pdfs/latex.pdf'"
      [(page)]="page"
      [nameddest]="namedDest"
    >
    </ngx-extended-pdf-viewer>
  </mat-card>
</div>
