<div class="flex-container-column fill-container">
  @if (!fullscreen) {
  <div class="flex-container-row">
    <div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 distance16 margin-right"
      style="flex: 1 1 100%; box-sizing: border-box; max-width:40%;">
      <p>
        The attribute <code>[namedDest]</code> allows you to navigate to a "named destination" of the PDF file.
      </p>
      <section class="section" style="margin-top: 5px; margin-bottom: 10px">
        <button class="bg-primary-500 hover:bg-primary-600 text-white font-medium py-2 px-4 my-2 me-2 rounded shadow" (click)="page = 5">[page]="5"</button>
        <button class="bg-primary-500 hover:bg-primary-600 text-white font-medium py-2 px-4 my-2 rounded shadow" (click)="namedDest = 'section.10'"
          >[nameDest]="section.10"</button>
      </section>
    </div>
<div class="bg-white border border-gray-300 rounded-lg shadow-mat-8 p-6 distance16"
      style="flex: 1 1 100%; box-sizing: border-box; max-width:58%;">
      <div class="w-full">
        <!-- Tab buttons -->
        <div class="overflow-x-auto">
            <div class="flex space-x-2 w-max border-b border-gray-200 mb-2">
          <button
            class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
            [class.text-primary-600]="activeTab === 'html'"
            [class.border-primary-600]="activeTab === 'html'"
            [class.text-gray-500]="activeTab !== 'html'"
            [class.border-transparent]="activeTab !== 'html'"
            (click)="activeTab = 'html'">
            HTML template
          </button>
          <button
            class="px-3 py-1.5 text-xs font-medium border-b-2 focus:outline-none"
            [class.text-primary-600]="activeTab === 'typescript'"
            [class.border-primary-600]="activeTab === 'typescript'"
            [class.text-gray-500]="activeTab !== 'typescript'"
            [class.border-transparent]="activeTab !== 'typescript'"
            (click)="activeTab = 'typescript'">
            TypeScript
          </button>
        </div>
          </div>

        <!-- Tab content -->
        @if (activeTab === 'html') {
          <div class="tab-content">
<app-ie11-markdown src="/assets/extended-pdf-viewer/navigation/html.md"> </app-ie11-markdown>
        </div>
          }
        @if (activeTab === 'typescript') {
          <div class="tab-content">
<app-ie11-markdown src="/assets/extended-pdf-viewer/navigation/ts.md"> </app-ie11-markdown>
        </div>
          }
      </div>
    </div>
  </div>
  }

  <app-demo [src]="'/assets/pdfs/latex.pdf'">
    <ngx-extended-pdf-viewer [src]="'./assets/pdfs/latex.pdf'" [(page)]="page" [nameddest]="namedDest"
      [height]="'auto'"
      [theme]="theme">
    </ngx-extended-pdf-viewer>
  </app-demo>
</div>
