<div class="flex-container-column fill-container">
  <div class="flex-container-row"  *ngIf="!fullscreen">
  <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:55%">
    <mat-tab-group>
      <mat-tab label="[(zoom)] and (currentZoomFactor)">
        <app-ie11-markdown>
          The attribute `[(zoom)]` controls the zoom level of the PDF document. If you're using two-way binding, the variable is updated
          when the user zooms in or out.
        </app-ie11-markdown>
        <mat-label title="Toolbar zoom factor"></mat-label>
        <mat-radio-group aria-label="Toolbar zoom factor" [(ngModel)]="zoomSetting">
          <mat-radio-button value="100%">[zoom]="'100%'"</mat-radio-button>
          <mat-radio-button value="150%">[zoom]="'150%'"</mat-radio-button>
          <mat-radio-button value="200%">[zoom]="'200%'"</mat-radio-button>
          <mat-radio-button value="1500%">[zoom]="'1500%'" (slow!)</mat-radio-button>
          <mat-radio-button value="auto">[zoom]="auto"</mat-radio-button>
          <mat-radio-button value="page-fit">[zoom]="page-fit"</mat-radio-button>
          <mat-radio-button value="page-actual">[zoom]="page-actual"</mat-radio-button>
          <mat-radio-button value="page-width">[zoom]="page-width"</mat-radio-button>
        </mat-radio-group>
        <div class="distance-top">Selected zoom level: {{ zoomSetting === undefined ? "undefined" : zoomSetting }}; current zoom level: {{ currentZoomFactor | percent }}</div>
      </mat-tab>
      <mat-tab label="zoom levels">
        <p>The attributes <code>minZoom</code> and  <code>maxZoom</code> limit the zoom factor you can get by pinching or by hitting the "+" or "-" button.
        The attribute <code>zoomLevels</code> defines the content of the dropdown. It ignores both   <code>minZoom</code> and  <code>maxZoom</code>.</p>

        <section>
          <mat-form-field>
            <input matInput class="margin" [(ngModel)]="minZoom" placeholder="minimum zoom level" />
          </mat-form-field>
          <mat-form-field style="padding-left: 10px;">
            <input matInput class="margin" [(ngModel)]="maxZoom" placeholder="maximum zoom level" />
          </mat-form-field>
        </section>
        <section>
          <mat-form-field style="padding-left: 10px; width: 90%;">
            <input matInput class="margin" [(ngModel)]="zoomLevelsDisplay" placeholder="zoom levels of the drop-down menu" />
          </mat-form-field>
        </section>
      </mat-tab>
      <mat-tab label="huge zoom levels">
        <p>By default, the PDF viewer renders the PDF file on a canvas with up tp 4096 x 4096 pixels. You can lift this restriction by setting
          <code>pdfDefaultOptions.maxCanvasPixels = -1</code> in the constructor. Depending on your device, this may result in a performance
          penalty. ngx-extended-pdf-viewer runs a test to determine the maximum size. Depending on your hardware and browsers,
          you <a target="#" href="https://www.npmjs.com/package/canvas-size#test-results">can reach a resolution of up to 16,384 x 16,384 pixels</a>.
        </p>
        <p>If you exceed this setting, or if the necessary canvas size is larger than <code>pdfDefaultOptions.maxCanvasPixels</code> defines,
          ngx-extended-pdf-viewer limits the canvas size and activates CSS scaling. So you can get higher zoom levels, but the
          text may be blurry.</p>
      </mat-tab>
     </mat-tab-group>
  </mat-card>

  <mat-card appearance="outlined" class="distance16 mat-elevation-z8 use-available-height" style="flex: 1 1 100%; box-sizing: border-box; max-width:43%">
    <mat-tab-group>
      <mat-tab label="HTML template">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/zoom/html.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="TypeScript">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/zoom/ts.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
  <button mat-button (click)="fullscreen=!fullscreen" style="display:none;float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
  <span *ngIf="currentTime">last rendering time: {{currentTime}} ms</span>
  <ngx-extended-pdf-viewer
    [src]="'/assets/pdfs/BootsFaces_Deep_Dive_1.0.pdf'"
    (currentZoomFactor)="updateZoomFactor($event)"
    [height]="'90vh'"
    [(zoom)]="zoomSetting"
    [minZoom]="minZoom"
    [maxZoom]="maxZoom"
    [zoomLevels]="zoomLevels"
    (pageRender)="onPageRender()"
    (pageRendered)="onPageRendered()"
    [minifiedJSLibraries]="!isLocalhost"
  >
  </ngx-extended-pdf-viewer>
</mat-card>
</div>
