<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
  <mat-card class="distance16 mat-elevation-z8" fxFlex="55%">
    <mat-tab-group>
      <mat-tab label="[(zoom)] and (currentZoomFactor)">
        <app-ie11-markdown>
          The attribute `[(zoom)]` controls the zoom level of the PDF document. If you're using two-way binding, the variable is updated
          when the user zooms in or out.
        </app-ie11-markdown>
        <mat-label title="Toolbar zoom factor"></mat-label>
        <mat-radio-group aria-label="Toolbar zoom factor" [(ngModel)]="zoomSetting">
          <mat-radio-button value="100%">[zoom]="'100%'"</mat-radio-button>
          <mat-radio-button value="150%">[zoom]="'150%'"</mat-radio-button>
          <mat-radio-button value="200%">[zoom]="'200%'"</mat-radio-button>
          <mat-radio-button value="1500%">[zoom]="'1500%'"</mat-radio-button>
          <mat-radio-button value="auto">[zoom]="auto"</mat-radio-button>
          <mat-radio-button value="page-fit">[zoom]="page-fit"</mat-radio-button>
          <mat-radio-button value="page-actual">[zoom]="page-actual"</mat-radio-button>
          <mat-radio-button value="page-width">[zoom]="page-width"</mat-radio-button>
        </mat-radio-group>
        <div class="distance-top">Selected zoom level: {{ zoomSetting === undefined ? "undefined" : zoomSetting }}; current zoom level: {{ currentZoomFactor | percent }}</div>
      </mat-tab>
      <mat-tab label="zoom levels">
        <p>The attributes <code>minZoom</code> and  <code>maxZoom</code> limit the zoom factor you can get by pinching or by hitting the "+" or "-" button.
        The attribute <code>zoomLevels</code> defines the content of the dropdown. It ignores both   <code>minZoom</code> and  <code>maxZoom</code>.</p>

        <section>
          <mat-form-field>
            <input matInput class="margin" [(ngModel)]="minZoom" placeholder="minimum zoom level" />
          </mat-form-field>
          <mat-form-field style="padding-left: 10px;">
            <input matInput class="margin" [(ngModel)]="maxZoom" placeholder="maximum zoom level" />
          </mat-form-field>
        </section>
        <section>
          <mat-form-field style="padding-left: 10px; width: 90%;">
            <input matInput class="margin" [(ngModel)]="zoomLevelsDisplay" placeholder="zoom levels of the drop-down menu" />
          </mat-form-field>
        </section>
      </mat-tab>
      <mat-tab label="huge zoom levels">
        <p>By default, the PDF viewer renders the PDF file on a canvas with up tp 4096 x 4096 pixels. You can lift this restriction by setting
          <code>pdfDefaultOptions.maxCanvasPixels = -1</code> in the constructor. Depending on your device, this may result in a performance
          penalty.
        </p>
        <p>Native scaling is limited by your browser. That's why you can zoom the document
          below only to 200% on iOS and 1090% on a current Chrome. If you cross this threshold, the viewer
          uses CSS scaling to display an even larger image.

          Note that the test adds a one-time performance penalty
          when the width or height of the canvas exceeds 4096 pixels.</p>
      </mat-tab>
      <mat-tab label="touch gestures">
        <p>
          By default, the pinch gesture simple zooms the entire page on mobile devices. If you want to zoom the PDF file without zooming the
          rest of the page, you can activate the <code>enablePinchOnMobile</code> option. This doesn't modify the behavior of desktop PC and
          laptops. Most touchpads translate the finger gestures to mouse wheel events. This approach works well enough, so the PDF viewer
          doesn't add additional support for touch gestures. However, the detection may be imprecise.
        </p>
        <p>
          <b>State of the art:</b>
          <br />
          This feature is currently under development. Among other things, it ignores scrolling. The touch gestures are only recognized if
          the fingers rest on the PDF file. However, if you scroll the window, this detection currently fails.
        </p>
        <mat-checkbox [disabled]="!isMobile" [(ngModel)]="enablePinchOnMobile">enable the pinch gesture on mobile devices</mat-checkbox>
        <p *ngIf="isMobile">This device has been detected as a mobile device.</p>
        <p *ngIf="!isMobile">This device has been detected as device without touch screen. <code>enablePinchOnMobile</code> is ignored.</p>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

  <mat-card class="distance16 mat-elevation-z8 use-available-height" fxFlex="43%">
    <mat-tab-group>
      <mat-tab label="HTML template">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/zoom/html.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="TypeScript">
        <app-ie11-markdown src="/assets/extended-pdf-viewer/zoom/ts.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
  <button mat-button (click)="fullscreen=!fullscreen" style="float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
  <span *ngIf="currentTime">last rendering time: {{currentTime}} ms</span>
  <ngx-extended-pdf-viewer
    [src]="'/assets/pdfs/BootsFaces_Deep_Dive_1.0.pdf'"
    (currentZoomFactor)="updateZoomFactor($event)"
    [height]="'90vh'"
    [useBrowserLocale]="true"
    [(zoom)]="zoomSetting"
    [minZoom]="minZoom"
    [maxZoom]="maxZoom"
    [zoomLevels]="zoomLevels"
    [enablePinchOnMobile]="enablePinchOnMobile"
    (pageRender)="onPageRender()"
    (pageRendered)="onPageRendered()"
  >
  </ngx-extended-pdf-viewer>
</mat-card>
</div>
