<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8" [style]="'flex: 1 1 100%; box-sizing: border-box; max-width:'+settingsWidth">
        <mat-tab-group (selectedTabChange)="currentTab = $event.index">
          <mat-tab label="breakpoints">
            <p>
              The PDF viewer uses responsive design to display nicely on devices of all sizes. On large screens, the toolbar shows many buttons. On smaller screens,
              some of these buttons are shifted to the secondary menu. A few actions are only available in the secondary menu: the scroll mode, the spread modes, and the document properties.
              In a future version, I might add toolbar icons for these icons, so the corresponding attributes are also called <code>showXXXButton</code>, ignoring the fact that currently,
              these actions are currently only available in the secondary menu.
            </p>
            <p>I've breakpoints to the buttons to show as many buttons as possible on any screen. However, if you don't need every button, you've got more available screen estate.
              So you can override my choice of breakpoint by setting, for example, <code>showXXXButton="xs"</code>. <code>xs</code> means the button shows if the PDF viewer is at least
              490 pixel wide. <code>sm</code> means the button is visible if the PDF viewer is at least 560 pixels wide, and so on until <code>xxl</code>, which hides
              buttons if the PDF viewer is less than 830 pixels wide.
            </p>
            <p>Note that these width don't refer to the width of the screen. That's a difference to the definition of reponsive breakpoints in Tailwind, Bootstrap or Material Design.
              The PDF viewer frequently is smaller than the screen, so I went the extra mile to define breakpoints relative to the component width.
            </p>
            <p>You can modify the breakpoints themselves if my default selection of 490, 560, 610, 660, 740, and 830 doesn't match your requirements. Do do so, set the static attributes
              of the class <code>PdfBreakpoints</code>. You can experiment with these settings on the third tab of this demo.
            </p>
          </mat-tab>
          <mat-tab label="responsive design">
            <p id="outerContainer">The PDF viewer hides rarely used buttons on small screens, pushing them to the secondary menu. However, if you're showing only a subset of the buttons, the default are an ill match. So you can tweak this to fit your needs.
              Setting <code>showXXXButton="xs"</code> means it's visible on very small screens, <code>showXXXButton="sm"</code> means it's shown on small but hidden on tiny screens, and so on.
              <br style="margin-bottom:0.5em">
              Currently active breakpoints:
              <span><span class="visibleTinyView">none </span></span>
              <span class="hiddenTinyView">xs </span>
              <span class="hiddenSmallView">sm </span>
              <span class="hiddenMediumView">md </span>
              <span class="hiddenLargeView">lg </span>
              <span class="hiddenXLView">xl </span>
              <span class="hiddenXXLView">xxl </span>
              <span>(resize the window to see the effect)</span>
            </p>
            <br />
            <mat-form-field class="margin">
              <mat-label>showSidebarButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showSidebarButton">
                @for (option of traditionalOptions; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showFindButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showFindButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showPagingButtons </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showPagingButtons">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showZoomButtons </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showZoomButtons">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showDrawEditor </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showDrawEditor">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showTextEditor </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showTextEditor">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showPresentationModeButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showPresentationModeButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showOpenFileButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showOpenFileButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showPrintButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showPrintButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showDownloadButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showDownloadButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showRotateButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showRotateButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showHandToolButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showHandToolButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showScrollingButtons </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showScrollingButtons">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showSpreadButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showSpreadButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showPropertiesButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showPropertiesButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </mat-tab>
          <mat-tab label="custom breakpoints demo">
            <p id="outerContainer">
              You can fine-tune when a breakpoint triggers. You have to resize the window after modifying the numbers to see the effect. There's no automatic update.
            </p>
            <p id="outerContainer">
              Currently active breakpoints:
              <span><span class="visibleTinyView">none </span></span>
              <span class="hiddenTinyView">xs </span>
              <span class="hiddenSmallView">sm </span>
              <span class="hiddenMediumView">md </span>
              <span class="hiddenLargeView">lg </span>
              <span class="hiddenXLView">xl </span>
              <span class="hiddenXXLView">xxl </span>
            </p>
            <p>
              <mat-form-field class="margin">
                <mat-label>xs</mat-label>
                <input matInput [(ngModel)]="xs" placeholder="490" />
                <mat-error>Please enter a number</mat-error>
              </mat-form-field>
              <mat-form-field class="margin" >
                <mat-label>sm</mat-label>
                <input matInput  [(ngModel)]="sm" placeholder="560" />
                <mat-error>Please enter a number</mat-error>
              </mat-form-field>
              <mat-form-field class="margin" >
                <mat-label>md</mat-label>
                <input matInput [(ngModel)]="md" placeholder="610" />
                <mat-error>Please enter a number</mat-error>
              </mat-form-field>
              <mat-form-field class="margin" >
                <mat-label>lg</mat-label>
                <input matInput [(ngModel)]="lg" placeholder="660" />
                <mat-error>Please enter a number</mat-error>
              </mat-form-field>
              <mat-form-field class="margin" >
                <mat-label>xl</mat-label>
                <input matInput [(ngModel)]="xl" placeholder="740" />
                <mat-error>Please enter a number</mat-error>
              </mat-form-field>
              <mat-form-field class="margin" >
                <mat-label>xxl</mat-label>
                <input matInput [(ngModel)]="xxl" placeholder="830" />
                <mat-error>Please enter a number</mat-error>
              </mat-form-field>
            </p>
            <mat-form-field class="margin">
              <mat-label>showSidebarButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showSidebarButton">
                @for (option of traditionalOptions; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showFindButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showFindButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showPagingButtons </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showPagingButtons">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showZoomButtons </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showZoomButtons">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showDrawEditor </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showDrawEditor">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showTextEditor </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showTextEditor">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showPresentationModeButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showPresentationModeButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showOpenFileButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showOpenFileButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showPrintButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showPrintButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showDownloadButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showDownloadButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showRotateButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showRotateButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showHandToolButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showHandToolButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showScrollingButtons </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showScrollingButtons">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showSpreadButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showSpreadButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="margin">
              <mat-label>showPropertiesButton </mat-label>
              <mat-select [disabled]="!showToolbar" [(value)]="showPropertiesButton">
                @for (option of options; track option) {
                  <mat-option [value]="option">{{withExplanation(option)}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      @if (currentTab === 0) {
        <mat-card appearance="outlined" class="distance16 mat-elevation-z8" [style]="'flex: 1 1 100%; box-sizing: border-box; max-width:'+codeWidth">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/hiding-buttons/ts.md"> </app-ie11-markdown>
        </mat-card>
      }
      @if (currentTab === 1) {
        <mat-card appearance="outlined" class="distance16 mat-elevation-z8" [style]="'flex: 1 1 100%; box-sizing: border-box; max-width:'+codeWidth">
          <app-ie11-markdown [data]="sourcecode | language : 'html'"> </app-ie11-markdown>
        </mat-card>
      }
      @if (currentTab === 2) {
        <mat-card appearance="outlined" class="distance16 mat-elevation-z8" [style]="'flex: 1 1 100%; box-sizing: border-box; max-width:'+codeWidth">
          <mat-tab-group  class="distance16 mat-elevation-z8" [style]="'flex: 1 1 100%; box-sizing: border-box; max-width:'+codeWidth">
            <mat-tab label="Defining breakpoints">
              <mat-card appearance="outlined" class="distance16 mat-elevation-z8" [style]="'flex: 1 1 100%; box-sizing: border-box; max-width:'+codeWidth">
                <app-ie11-markdown [data]="breakpoints | language : 'typescript'"> </app-ie11-markdown>
              </mat-card>
            </mat-tab>      <mat-tab label="Button visibility">
            <mat-card appearance="outlined" class="distance16 mat-elevation-z8" [style]="'flex: 1 1 100%; box-sizing: border-box; max-width:'+codeWidth">
              <app-ie11-markdown [data]="sourcecode | language : 'html'"> </app-ie11-markdown>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    }
  </div>
}

<mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!(fullscreenService.isFullscreen$ | async)">
    <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 8px;">
      <div>
        <small
    >Copyright hint: the PDF has been published by Stefan Hellweger and Xiaofeng Wang under a
    <a target="#" href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> on
    <a target="#" href="https://arxiv.org/abs/1503.01850">https://arxiv.org/abs/1503.01850</a></small
    >
      </div>
      <app-fullscreen-button style="flex-shrink: 0; margin-left: 16px;"></app-fullscreen-button>
    </div><ngx-extended-pdf-viewer
      [src]="'/assets/pdfs/user-experience.pdf'"
      [height]="'auto'"
      [showToolbar]="showToolbar"
      [showSidebarButton]="showSidebarButton"
      [showFindButton]="showFindButton"
      [showDrawEditor]="showDrawEditor"
      [showTextEditor]="showTextEditor"
      [textLayer]="true"
      [showPagingButtons]="showPagingButtons"
      [showZoomButtons]="showZoomButtons"
      [showPresentationModeButton]="showPresentationModeButton"
      [showOpenFileButton]="showOpenFileButton"
      [showPrintButton]="showPrintButton"
      [showDownloadButton]="showDownloadButton"
      [filenameForDownload]="downloadFileName"
      [showSecondaryToolbarButton]="showSecondaryToolbarButton"
      [showRotateButton]="showRotateButton"
      [showHandToolButton]="showHandToolButton"
      [showScrollingButtons]="showScrollingButtons"
      [showSpreadButton]="showSpreadButton"
      [showPropertiesButton]="showPropertiesButton"

      >
    </ngx-extended-pdf-viewer>
  </mat-card>
</div>
