<div class="flex-container-column fill-container">
  @if (!(fullscreenService.isFullscreen$ | async)) {
    <div class="flex-container-row" >
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8 margin-right" style="flex: 1 1 100%; box-sizing: border-box; max-width:40%;" style="margin-bottom:20px">
        <mat-tab-group>
          <mat-tab label="live demo">
            <p>
              ngx-extended-pdf-viewer allows you to define your own custom toolbar, menu, and it even allows you to create
              your own sidebar and your own thumbnails.
            </p>
            <p>
              Sometimes your buttons don't show in the toolbar. For example, the find button is shy.
              You need to pass a responsive design attribute to make it visible, such as <code>[showFindButton]="'always-visible'"</code>.
              The find button, in particular, only shows if the PDF file has a text layer and if you opted in to show it
              (<code>[textLayer]="true"</code>).
            </p>
            <mat-label title="Demo theme"></mat-label>
            <mat-radio-group aria-label="Demo" [(ngModel)]="theme">
              <mat-radio-button value="default">standard layout</mat-radio-button>
              <br />
              <mat-radio-button value="findbar">custom findbar (large input field in a dedicated line)</mat-radio-button>
              <br />
              <mat-radio-button value="checkbox">radiobutton zoom</mat-radio-button>
              <br />
              <mat-radio-button value="additional">custom color and additional buttons ("open PDF in new tab" and "export as image" button)</mat-radio-button>
              <br />
              <mat-radio-button value="floating">floating zoombar</mat-radio-button>
              <mat-checkbox class="padding-left" [(ngModel)]="showFreeFloatingBar">show it! (uncheck to hide)</mat-checkbox>
            </mat-radio-group>
          </mat-tab>
          <mat-tab label="responsive custom buttons">
            <app-ie11-markdown src="/assets/extended-pdf-viewer/responsive-design/custom-buttons.md"> </app-ie11-markdown>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <p></p>
      <mat-card appearance="outlined" class="distance16 mat-elevation-z8" style="flex: 1 1 100%; box-sizing: border-box; max-width:58%;">
        <mat-tab-group>
          <mat-tab label="TypeScript">
            <app-ie11-markdown [src]="'/assets/extended-pdf-viewer/custom-toolbar/ts-'+ theme+'.md'"> </app-ie11-markdown>
          </mat-tab>
          <mat-tab label="HTML template">
            <app-ie11-markdown [src]="'/assets/extended-pdf-viewer/custom-toolbar/html-'+ theme+'.md'"> </app-ie11-markdown>
          </mat-tab>
          @if (theme==='findbar') {
            <mat-tab label="CSS template">
              <app-ie11-markdown [src]="'/assets/extended-pdf-viewer/custom-toolbar/css-'+ theme+'.md'"> </app-ie11-markdown>
            </mat-tab>
          }
          @if (theme==='additional') {
            <mat-tab label="additional buttons">
              <app-ie11-markdown [src]="'/assets/extended-pdf-viewer/custom-toolbar/component-new-tab.md'"> </app-ie11-markdown>
            </mat-tab>
            <mat-tab label="additional nested buttons">
              <app-ie11-markdown [src]="'/assets/extended-pdf-viewer/custom-toolbar/html-additional-mat-design.md'"> </app-ie11-markdown>
            </mat-tab>
            <mat-tab label="additional nested buttons (TS)">
              <app-ie11-markdown [src]="'/assets/extended-pdf-viewer/custom-toolbar/html-additional-mat-design.md'"> </app-ie11-markdown>
            </mat-tab>

          }
          <mat-tab label="changing the toolbars dynamically">
            <app-ie11-markdown [src]="'/assets/extended-pdf-viewer/custom-toolbar/ts-reinitialization.md'"> </app-ie11-markdown>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  }

  <mat-card appearance="outlined" class="mat-elevation-z8 use-available-height" [class.distance16]="!(fullscreenService.isFullscreen$ | async)">
    <app-fullscreen-button></app-fullscreen-button>
    @if (showPdfViewer) {
      <ngx-extended-pdf-viewer
        [customFindbarInputArea]="theme === 'findbar' ? customFindbarInputArea : undefined"
        [customFindbarButtons]="theme === 'findbar' ? customFindbarButtons : undefined"
        [customToolbar]="theme === 'checkbox' ? customCheckboxZoomToolbar : (theme === 'additional' ? additionalButtons : undefined)"
        [customFreeFloatingBar]="theme === 'floating' ? floatingZoombar : undefined"
        [src]="src"
        [zoom]="zoom"
        [showZoomButtons]="theme !== 'floating'"
        [showFreeFloatingBar]="showFreeFloatingBar"
        [textLayer]="theme === 'findbar'"
        >
      </ngx-extended-pdf-viewer>
    }
  </mat-card>
</div>

<ng-template #customFindbarInputArea>
  <div id="findbarInputContainer">
    <pdf-search-input-field></pdf-search-input-field>
  </div>
</ng-template>

<ng-template #customFindbarButtons>
  <div class="no-float">
    <pdf-find-input-area [customFindbarInputArea]="customFindbarInputArea"></pdf-find-input-area>
  </div>
  <div class="no-float">
    <pdf-find-highlight-all></pdf-find-highlight-all>
    <pdf-find-match-case></pdf-find-match-case>
    <pdf-find-entire-word></pdf-find-entire-word>
    <pdf-find-results-count></pdf-find-results-count>
    <pdf-findbar-message-container></pdf-findbar-message-container>
    <pdf-find-previous></pdf-find-previous>
    <pdf-find-next></pdf-find-next>
  </div>

</ng-template>

<ng-template #customCheckboxZoomToolbar>
  <div id="toolbarViewer">
    <div id="toolbarViewerMiddle">
      <pdf-zoom-dropdown class="invisible"></pdf-zoom-dropdown>

      <input type="radio" id="zoom50" class="toolbarField radio" tabindex="94" (click)="zoom = '50%'" name="zoom" [checked]="zoom==='50%'" />
      <label for="zoom50" class="toolbarLabel">50%</label>

      <input type="radio" id="zoom100" class="toolbarField radio" tabindex="95" (click)="zoom = '100%'" name="zoom" [checked]="zoom==='100%'"/>
      <label for="zoom100" class="toolbarLabel">100%</label>

      <input type="radio" id="zoom200" class="toolbarField radio" tabindex="96" (click)="zoom = '200%'" name="zoom" [checked]="zoom==='200%'"/>
      <label for="zoom200" class="toolbarLabel">200%</label>

      <input type="radio" id="zoom-auto" class="toolbarField radio" tabindex="97" (click)="zoom = 'auto'" name="zoom" [checked]="zoom==='auto'"/>
      <label for="zoom-auto" class="toolbarLabel">auto</label>
    </div>
  </div>
</ng-template>


<ng-template #additionalButtons>
  <div id="toolbarViewer" style="background-color:rgb(232 246 255)">
    <div id="toolbarViewerLeft">
      <pdf-toggle-sidebar></pdf-toggle-sidebar>
      <div class="toolbarButtonSpacer"></div>
      <pdf-paging-area></pdf-paging-area>
    </div>
    <pdf-zoom-toolbar></pdf-zoom-toolbar>
    <div id="toolbarViewerRight">
      <pdf-open-file></pdf-open-file>
      <pdf-presentation-mode></pdf-presentation-mode>
      <pdf-print></pdf-print>
      <app-open-in-new-tab></app-open-in-new-tab>
      <pdf-shy-button
        [cssClass]="'lg' | responsiveCSSClass"
        title="export an image"
        primaryToolbarId="nestedComponent"
        [order]="1"
        [closeOnClick]="true"
      >
        <button #nestedContent
          id="sidebarToggle"
          color="primary"
          class="toolbarButton"
          matTooltip="export an image"
          (click)="exportAsImage()"
        >
        <mat-icon style="color: #FF0000;">photo_camera</mat-icon>
      </button>
    </pdf-shy-button>
      <pdf-download></pdf-download>
      <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
    </div>
  </div>
</ng-template>

<ng-template #floatingZoombar>
  <div style="position: absolute;bottom:20px;left:41%;z-index:1;background-color:#dbe5e9;padding:4px;padding-bottom: 8px;border:1px solid darkgray">
    <div>
      <pdf-zoom-dropdown class="invisible"></pdf-zoom-dropdown>

      <input type="radio" id="zoom50" class="toolbarField radio" tabindex="94" (click)="zoom = '50%'" name="zoom" [checked]="zoom==='50%'" />
      <label for="zoom50" class="toolbarLabel">50%</label>

      <input type="radio" id="zoom100" class="toolbarField radio" tabindex="95" (click)="zoom = '100%'" name="zoom" [checked]="zoom==='100%'"/>
      <label for="zoom100" class="toolbarLabel">100%</label>

      <input type="radio" id="zoom200" class="toolbarField radio" tabindex="96" (click)="zoom = '200%'" name="zoom" [checked]="zoom==='200%'"/>
      <label for="zoom200" class="toolbarLabel">200%</label>

      <input type="radio" id="zoom-auto" class="toolbarField radio" tabindex="97" (click)="zoom = 'auto'" name="zoom" [checked]="zoom==='auto'"/>
      <label for="zoom-auto" class="toolbarLabel">auto</label>
    </div>
  </div>
</ng-template>
