<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
  <mat-card class="distance16 mat-elevation-z8" fxFlex="40%" style="margin-bottom:20px">
    <p>
      ngx-extended-pdf-viewer allows you to define your own custom toolbar, menu, and it even allows you to create
      your own sidebar and your own thumbnails.
    </p>
    <mat-label title="Demo theme"></mat-label>
    <mat-radio-group aria-label="Demo" [(ngModel)]="theme">
      <mat-radio-button value="default">standard layout</mat-radio-button>
      <br />
      <mat-radio-button value="findbar">custom findbar</mat-radio-button>
      <br />
      <mat-radio-button value="checkbox">radiobutton zoom</mat-radio-button>
      <br />
      <mat-radio-button value="additional">additional buttons + custom color</mat-radio-button>
      <br />
      <mat-radio-button value="floating">floating zoombar</mat-radio-button>
      <mat-checkbox class="padding-left" [(ngModel)]="showFreeFloatingBar">show it! (uncheck to hide)</mat-checkbox>
      <br>
      <mat-radio-button value="multi">multiple lines</mat-radio-button>
    </mat-radio-group>
  </mat-card>
  <p></p>
  <mat-card class="distance16 mat-elevation-z8" fxFlex="58%">
    <mat-tab-group>
      <mat-tab label="TypeScript">
        <app-ie11-markdown [src]="'/assets/extended-pdf-viewer/custom-toolbar/ts-'+ theme+'.md'"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="HTML template">
        <app-ie11-markdown [src]="'/assets/extended-pdf-viewer/custom-toolbar/html-'+ theme+'.md'"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="additional components" *ngIf="theme=='additional'">
        <app-ie11-markdown [src]="'/assets/extended-pdf-viewer/custom-toolbar/component-new-tab.md'"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="changing the toolbars dynamically">
        <app-ie11-markdown [src]="'/assets/extended-pdf-viewer/custom-toolbar/ts-reinitialization.md'"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="mat-elevation-z8 use-available-height" [class.distance16]="!fullscreen">
  <button mat-button (click)="fullscreen=!fullscreen" style="float:right;height: 24px;line-height: 24px;min-width:24px;padding:0;margin-top:-4px">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
  <ngx-extended-pdf-viewer *ngIf="showPdfViewer"
    [customFindbarInputArea]="theme === 'findbar' ? customFindbarInputArea : undefined"
    [customFindbarButtons]="theme === 'findbar' ? customFindbarButtons : undefined"
    [customToolbar]="theme === 'multi'? multiToolbar: theme === 'checkbox' ? customCheckboxZoomToolbar : (theme === 'additional' ? additionalButtons : undefined)"
    [customFreeFloatingBar]="theme === 'floating' ? floatingZoombar : undefined"
    [src]="'/assets/pdfs/dachstein.pdf'"
    [height]="'50vh'"
    [textLayer]="true"
    [zoom]="zoom"
    [showZoomButtons]="theme != 'floating'"
    [showFreeFloatingBar]="showFreeFloatingBar"
    [minifiedJSLibraries]="!isLocalhost"
  >
  </ngx-extended-pdf-viewer>
</mat-card>
</div>

<ng-template #customFindbarInputArea>
  <div id="findbarInputContainer">
    <pdf-search-input-field></pdf-search-input-field>
    <br />
    <pdf-find-previous></pdf-find-previous>
    <pdf-find-next></pdf-find-next>
  </div>
</ng-template>

<ng-template #customFindbarButtons>
  <pdf-find-input-area [customFindbarInputArea]="customFindbarInputArea"></pdf-find-input-area>
  <div id="findbarOptionsOneContainer">
    <pdf-find-highlight-all></pdf-find-highlight-all>
    <pdf-find-match-case></pdf-find-match-case>
  </div>
  <br />
  <div id="findbarOptionsTwoContainer">
    <pdf-find-entire-word></pdf-find-entire-word>
    <pdf-find-entire-phrase></pdf-find-entire-phrase>
  </div>
  <br />
  <div id="findbarOptionsThreeContainer">
    <pdf-find-ignore-accents></pdf-find-ignore-accents>
    <pdf-find-results-count></pdf-find-results-count>
  </div>
  <br />
  <pdf-findbar-message-container></pdf-findbar-message-container>
</ng-template>

<ng-template #customCheckboxZoomToolbar>
  <div id="toolbarViewer">
    <div id="toolbarViewerMiddle">
      <pdf-zoom-dropdown class="invisible"></pdf-zoom-dropdown>

      <input type="radio" id="zoom50" class="toolbarField radio" tabindex="94" (click)="zoom = '50%'" name="zoom" [checked]="zoom==='50%'" />
      <label for="zoom50" class="toolbarLabel">50%</label>

      <input type="radio" id="zoom100" class="toolbarField radio" tabindex="95" (click)="zoom = '100%'" name="zoom" [checked]="zoom==='100%'"/>
      <label for="zoom100" class="toolbarLabel">100%</label>

      <input type="radio" id="zoom200" class="toolbarField radio" tabindex="96" (click)="zoom = '200%'" name="zoom" [checked]="zoom==='200%'"/>
      <label for="zoom200" class="toolbarLabel">200%</label>

      <input type="radio" id="zoom-auto" class="toolbarField radio" tabindex="97" (click)="zoom = 'auto'" name="zoom" [checked]="zoom==='auto'"/>
      <label for="zoom-auto" class="toolbarLabel">auto</label>
    </div>
  </div>
</ng-template>


<ng-template #additionalButtons>
  <div id="toolbarViewer" style="background-color:rgb(232 246 255)">
    <div id="toolbarViewerLeft">
      <pdf-toggle-sidebar></pdf-toggle-sidebar>
      <div class="toolbarButtonSpacer"></div>
      <pdf-find-button [showFindButton]="true" [textLayer]="true"></pdf-find-button>
      <pdf-paging-area></pdf-paging-area>
    </div>
    <div id="toolbarViewerRight">
      <pdf-open-file></pdf-open-file>
      <pdf-presentation-mode></pdf-presentation-mode>
      <pdf-print></pdf-print>
      <app-open-in-new-tab></app-open-in-new-tab>
      <pdf-download></pdf-download>
      <pdf-bookmark></pdf-bookmark>
      <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
    </div>
    <pdf-zoom-toolbar></pdf-zoom-toolbar>
  </div>
</ng-template>

<ng-template #floatingZoombar>
  <div style="position: absolute;bottom:20px;left:41%;z-index:1;background-color:#dbe5e9;padding:4px;padding-bottom: 8px;border:1px solid darkgray">
    <div>
      <pdf-zoom-dropdown class="invisible"></pdf-zoom-dropdown>

      <input type="radio" id="zoom50" class="toolbarField radio" tabindex="94" (click)="zoom = '50%'" name="zoom" [checked]="zoom==='50%'" />
      <label for="zoom50" class="toolbarLabel">50%</label>

      <input type="radio" id="zoom100" class="toolbarField radio" tabindex="95" (click)="zoom = '100%'" name="zoom" [checked]="zoom==='100%'"/>
      <label for="zoom100" class="toolbarLabel">100%</label>

      <input type="radio" id="zoom200" class="toolbarField radio" tabindex="96" (click)="zoom = '200%'" name="zoom" [checked]="zoom==='200%'"/>
      <label for="zoom200" class="toolbarLabel">200%</label>

      <input type="radio" id="zoom-auto" class="toolbarField radio" tabindex="97" (click)="zoom = 'auto'" name="zoom" [checked]="zoom==='auto'"/>
      <label for="zoom-auto" class="toolbarLabel">auto</label>
    </div>
  </div>
</ng-template>

<ng-template #multiToolbar>
  <div class="header">
    <pdf-toggle-sidebar style="padding-top:5px"></pdf-toggle-sidebar>

    <button mat-icon-button id="zoomIn">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-icon-button id="zoomOut">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>fullscreen</mat-icon>
    </button>

    <button mat-icon-button id="primaryPageRotateCw">
      <mat-icon>replay</mat-icon>
    </button>

    <pdf-find-button></pdf-find-button>
    <div class="flex-spacer"></div>
    <button mat-icon-button id="print">
      <mat-icon>print</mat-icon>
    </button>
    <button mat-icon-button id="download">
      <mat-icon>download</mat-icon>
    </button>
    <div style="float:right">
      <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
    </div>
  </div>
</ng-template>

