<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between">
  <mat-card class="distance-16 mat-elevation-z8" fxFlex="40%">
    <p>The book mode is intended to show a page-flip effect. Currently, this feature is
      under development. Truth to tell, it's possible it won't work reliable enough.
      Consider it a preview.
    </p>
    <p>
      <b>Problems to solve before making it an official features:</b>
    </p>
    <ul>
      <li>Book mode is a bit heavy on the CPU.</li>
      <li>Rendering pages is unreliable. To enable smooth page turning,
        the two pages before and after the currently visible pages should
        always be rendered in advance. That doesn't always happen - possibly
        because of the high CPU usage, but I'm still looking for the root cause.
      </li>
    </ul>
    <mat-tab-group  *ngIf="false">
      <mat-tab label="Getting started">
        <p>
          The PDF viewer supports the single-page mode. In this mode, you can scroll from page to page. Instead,
          you can only navigate to a new page by setting the page number or clicking a chapter in the sidebar.
        </p>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="distance-16 mat-elevation-z8 progress" fxFlex="58%">
    <mat-tab-group>
      <mat-tab label="HTML template">
       <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/book-mode/html.md"> </app-ie11-markdown>
      </mat-tab>
      <mat-tab label="Typescript">
       <app-ie11-markdown ngPreserveWhitespaces src="/assets/extended-pdf-viewer/book-mode/ts.md"> </app-ie11-markdown>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<mat-card class="distance-16 mat-elevation-z8 use-available-height">
  <small
    >Copyright hint: the e-book has been published by James Boyle under a
    <a target="#" href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> on
    <a target="#" href="https://www.thepublicdomain.org/enclosing-the-commons-of-the-mind/">www.thepublicdomain.org</a></small
  >.
  <ngx-extended-pdf-viewer
    [src]="'/assets/pdfs/The Public Domain - Enclosing the Commons of the Mind.pdf'"
    pageViewMode="book"
    [minifiedJSLibraries]="false"
    [height]="'95%'"
    [zoom]="'page-fit'"
    [sidebarVisible]="false"
    [showBorders]="false"
    (pageRendered)="onPageRendered($event)"
    (pageRender)="onPageRender($event)"
  >
  </ngx-extended-pdf-viewer>
</mat-card>
</div>
