<div fxLayout="column" fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!fullscreen">
    <mat-card class="overflow-none distance16 mat-elevation-z8" fxFlex="50%">
      <div fxLayout="column" fxLayoutGap="10px">
        <mat-tab-group (selectedTabChange)="tabChanged($event)">
           <mat-tab label="Programmatic API">
            <p>You can print the PDF file by calling <code>NgxExtendedPdfViewerService.print()</code>.
            The (optional) parameter defines the print range. Limiting the print range is
            useful for very large documents that'd crash your browser - such as trying
            to print documents containing several hundred pages with Internet Explorer 11.</p>
            <section class="section">
              <mat-form-field>
                <input matInput class="margin" [(ngModel)]="from" placeholder="from page number" />
              </mat-form-field>
              <mat-form-field style="padding-left:10px;">
                <input matInput class="margin" [(ngModel)]="to" placeholder="to page number"/>
              </mat-form-field>
            </section>
            <section class="section">
              <mat-form-field style="width:90%">
                <input matInput class="margin" [(ngModel)]="included" placeholder="including (comma separatated list of page numbers)"/>
              </mat-form-field>
            </section>
            <section class="section">
              <mat-form-field style="width:90%">
                <input matInput class="margin" [(ngModel)]="excluded" placeholder="excluding (comma separatated list of page numbers)"/>
              </mat-form-field>
            </section>

            <button mat-raised-button color="primary" (click)="print()">NgxExtendedPdfViewerService.print()</button>
          </mat-tab>
          <mat-tab label="User API">
            <p>Calling <code>NgxExtendedPdfViewerService.setPrintRange()</code> limits
              the print range of the print button and CTRL+P. This also includes the
              programmatic API <code>print()</code> if the parameter is omitted.</p>
            <p>To prevent nasty surprises, call an <code>ngDestroy()</code> callback and use it
              to call <code>NgxExtendedPdfViewerService.removePrintRange()</code>.
            </p>
              <section class="section">
                <mat-form-field>
                  <input matInput class="margin" [(ngModel)]="from" placeholder="from page number" />
                </mat-form-field>
                <mat-form-field style="padding-left:10px;">
                  <input matInput class="margin" [(ngModel)]="to" placeholder="to page number"/>
                </mat-form-field>
              </section>
              <section class="section">
                <mat-form-field style="width:90%">
                  <input matInput class="margin" [(ngModel)]="included" placeholder="including (comma separatated list of page numbers)"/>
                </mat-form-field>
              </section>
              <section class="section">
                <mat-form-field style="width:90%">
                  <input matInput class="margin" [(ngModel)]="excluded" placeholder="excluding (comma separatated list of page numbers)"/>
                </mat-form-field>
              </section>
              <button mat-raised-button color="primary" (click)="setPrintRange()">NgxExtendedPdfViewerService.setPrintRange()</button>
            </mat-tab>
            <mat-tab label="Override browser print">
              <p>Setting the attribute `replaceBrowserPrint` allows you to replace the browser default print functionality
                by printing the PDF file. No matter what your web page looks like, if `replaceBrowserPrint` is true, both
                the keys <code>CTRL+P</code> and the print menu of the browser print the PDF file. If you set `replaceBrowserPrint="false"`,
                both CTRL+P and the print menu print the web page.
              </p>
              <p>Caveat: starting with version 16.0.0, the `replaceBrowserPrint` is active by default.</p>
              <mat-checkbox class="margin" [(ngModel)]="replaceBrowserPrint">replaceBrowserPrint="true"</mat-checkbox>
            </mat-tab>
          </mat-tab-group>
        </div>
    </mat-card>

    <mat-card class="overflow-y-scroll distance16 mat-elevation-z8 progress" fxFlex="49%">
      <mat-tab-group>
        <mat-tab label="TypeScript">
          <app-ie11-markdown [data]="sourcecode | language : 'typescript'"> </app-ie11-markdown>
        </mat-tab>
        <mat-tab label="HTML template">
          <app-ie11-markdown src="/assets/extended-pdf-viewer/print-range/html.md"> </app-ie11-markdown>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  <mat-card class="pdf-card distance16 mat-elevation-z8 use-available-height">
    <ngx-extended-pdf-viewer
      [src]="'/assets/pdfs/BootsFaces_Deep_Dive_1.0.pdf'"
      [minifiedJSLibraries]="!isLocalhost"
      [replaceBrowserPrint]="replaceBrowserPrint"
      zoom="50%">
    </ngx-extended-pdf-viewer>
  </mat-card>
</div>
